Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, erd-generation

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

erd-generation:
  name: ERD generation
  entry: bash -c 'cd backend && python scripts/generate_erd.py --validate --verbose --force'
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true
  require_serial: false
  ...

docker-compose to start the frontend is working
  docker-compose.override.yml
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/nginx-backend-not-found.conf
  frontend/nginx.conf
Due: local-biome-check

Stop tracking Alembic and app.db files
  backend/alembic.ini
  backend/app/alembic/README
  backend/app/alembic/env.py
  backend/app/alembic/script.py.mako
  backend/app/alembic/versions/.keep
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
Due: erd-generation

Stop tracking Alembic and app.db files
  backend/.gitignore
  backend/app/api/deps.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/models.py
Due: erd-generation

Configure reminder for waiting label in issue-manager
  .github/workflows/issue-manager.yml
Due: none

fix generate-client script
  frontend/openapi.json
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

autogen files under /client from openapi
  frontend/eslint.config.mjs
  frontend/openapi-ts.config.ts
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check

fix axios build error for docker-compose build
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/prettier.config.js
Due: local-biome-check

changes done
  backend/.idea/.gitignore
  backend/.idea/backend.iml
  backend/.idea/inspectionProfiles/profiles_settings.xml
  backend/.idea/misc.xml
  backend/.idea/modules.xml
  backend/.idea/vcs.xml
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/items.py
  backend/app/api/routes/organizations.py
  backend/app/api/routes/users.py
  backend/app/crud.py
  backend/app/models.py
Due: erd-generation

move (admin) dir to admin
  frontend/src/app/admin/(others-pages)/(chart)/bar-chart/page.tsx
  frontend/src/app/admin/(others-pages)/(chart)/line-chart/page.tsx
  frontend/src/app/admin/(others-pages)/(forms)/form-elements/page.tsx
  frontend/src/app/admin/(others-pages)/(tables)/basic-tables/page.tsx
  frontend/src/app/admin/(others-pages)/blank/page.tsx
  frontend/src/app/admin/(others-pages)/calendar/page.tsx
  frontend/src/app/admin/(others-pages)/profile/page.tsx
  frontend/src/app/admin/(ui-elements)/alerts/page.tsx
  frontend/src/app/admin/(ui-elements)/avatars/page.tsx
  frontend/src/app/admin/(ui-elements)/badge/page.tsx
  frontend/src/app/admin/(ui-elements)/buttons/page.tsx
  frontend/src/app/admin/(ui-elements)/images/page.tsx
  frontend/src/app/admin/(ui-elements)/modals/page.tsx
  frontend/src/app/admin/(ui-elements)/videos/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/page.tsx
Due: local-biome-check

basic StaticHeader working
  frontend/src/app/(study-assistant)/layout.tsx
  frontend/src/app/(study-assistant)/page.tsx
  frontend/src/layout/StaticHeader.tsx
Due: local-biome-check

document dropzone working for PDFs at /upload
  frontend/src/app/(study-assistant)/upload/page.tsx
  frontend/src/components/form/form-elements/DocumentDropZone.tsx
Due: local-biome-check

center the dropzone
  frontend/src/components/form/form-elements/DocumentDropZone.tsx
Due: local-biome-check

button added to create exam
  frontend/src/components/form/form-elements/DocumentDropZone.tsx
Due: local-biome-check

Fix EMAILS_FROM_NAME type to str
  backend/app/core/config.py
Due: erd-generation

fix: git ignore files fixed
  .env
Due: none

fix: git ignore / docker ignore changes
  .gitignore
  backend/.dockerignore
Due: none

feat: fixed gitignore file
  .gitignore
Due: none

feature: Replace passlib by pwdlib
  backend/app/core/security.py
  backend/pyproject.toml
  backend/uv.lock
Due: erd-generation

feature: remove types-passlib deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

add a SpinnerButton component
  frontend/src/components/form/form-elements/DocumentDropZone.tsx
  frontend/src/components/ui/button/SpinnerButton.tsx
  frontend/src/components/ui/spinner/index.tsx
Due: local-biome-check

Fixed github files for tests to run properly
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
Due: none

Made corrections to backend code
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  backend/app/api/main.py
  backend/app/api/routes/galleries.py
  backend/app/api/routes/projects.py
  backend/app/api/routes/utils.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/seed_data.py
Due: erd-generation

exam form view with mocked data - no api
  frontend/src/app/(study-assistant)/take-exam/page.tsx
  frontend/src/components/exam/QuestionInput.tsx
  frontend/src/components/exam/TakeExamForm.tsx
  frontend/src/components/form/form-elements/DocumentDropZone.tsx
  frontend/src/components/ui/button/SpinnerButton.tsx
  frontend/src/components/ui/list/ListWithRadio.tsx
Due: local-biome-check

fix lint err
  frontend/src/components/exam/QuestionInput.tsx
  frontend/src/components/ui/button/SpinnerButton.tsx
Due: local-biome-check

Added deployment scripts and GitHub Actions
  .github/workflows/deploy.yml
  DEPLOYMENT_GUIDE.md
  deploy-ip.sh
Due: none

Fixed frontend code for deployment to build correctly
  frontend/src/routes/_layout/projects.index.tsx
Due: local-biome-check

Tweaked deployment script to start up correctly
  deploy-ip.sh
Due: none

Added github action for CI using github secrets
  .github/workflows/deploy.yml
Due: none

Fixed github action files for deployment tests
  .github/workflows/deploy.yml
Due: none

Fixed github actions for deployment tests
  .github/workflows/deploy.yml
Due: none

Fixed backend tests for the database
  backend/tests/crud/test_gallery.py
  backend/tests/crud/test_project.py
  backend/tests/crud/test_stats.py
Due: none

Made simple deployment work correctly
  .github/workflows/deploy.yml
Due: none

Created simple changes to show CI/CD
  frontend/src/components/ui/provider.tsx
  frontend/src/routes/login.tsx
Due: local-biome-check

changed tab title and icon
  frontend/index.html
  frontend/public/assets/images/mosaicm.png
Due: local-biome-check

remove old admin dash
  frontend/src/app/admin/(others-pages)/(chart)/bar-chart/page.tsx
  frontend/src/app/admin/(others-pages)/(chart)/line-chart/page.tsx
  frontend/src/app/admin/(others-pages)/(forms)/form-elements/page.tsx
  frontend/src/app/admin/(others-pages)/(tables)/basic-tables/page.tsx
  frontend/src/app/admin/(others-pages)/blank/page.tsx
  frontend/src/app/admin/(others-pages)/calendar/page.tsx
  frontend/src/app/admin/(others-pages)/profile/page.tsx
  frontend/src/app/admin/(ui-elements)/alerts/page.tsx
  frontend/src/app/admin/(ui-elements)/avatars/page.tsx
  frontend/src/app/admin/(ui-elements)/badge/page.tsx
  frontend/src/app/admin/(ui-elements)/buttons/page.tsx
  frontend/src/app/admin/(ui-elements)/images/page.tsx
  frontend/src/app/admin/(ui-elements)/modals/page.tsx
  frontend/src/app/admin/(ui-elements)/videos/page.tsx
  frontend/src/app/admin/layout.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/components/charts/bar/BarChartOne.tsx
  frontend/src/components/charts/line/LineChartOne.tsx
  frontend/src/components/ecommerce/CountryMap.tsx
  frontend/src/components/ecommerce/DemographicCard.tsx
  frontend/src/components/ecommerce/EcommerceMetrics.tsx
  frontend/src/components/ecommerce/MonthlySalesChart.tsx
  frontend/src/components/ecommerce/MonthlyTarget.tsx
  frontend/src/components/ecommerce/RecentOrders.tsx
  frontend/src/components/ecommerce/StatisticsChart.tsx
  frontend/src/components/example/ModalExample/DefaultModal.tsx
  frontend/src/components/example/ModalExample/FormInModal.tsx
  frontend/src/components/example/ModalExample/FullScreenModal.tsx
  frontend/src/components/example/ModalExample/ModalBasedAlerts.tsx
  frontend/src/components/example/ModalExample/VerticallyCenteredModal.tsx
Due: local-biome-check

remove old boilerplate text
  frontend/package-lock.json
  frontend/src/app/(full-width-pages)/(auth)/layout.tsx
  frontend/src/app/(full-width-pages)/(auth)/signin/page.tsx
  frontend/src/app/not-found.tsx
Due: local-biome-check

remove sidebar and header
  frontend/src/layout/AppHeader.tsx
  frontend/src/layout/AppSidebar.tsx
  frontend/src/layout/SidebarWidget.tsx
Due: local-biome-check

remove tailadmin
  frontend/src/app/(full-width-pages)/(auth)/signup/page.tsx
  frontend/src/app/(full-width-pages)/(error-pages)/error-404/page.tsx
Due: local-biome-check

signUpForm use-form hook set up
  frontend/src/app/layout.tsx
  frontend/src/components/auth/SignUpForm.tsx
  frontend/src/components/form/input/InputField.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/utils.ts
Due: local-biome-check

signUpForm use-form hook set up
  frontend/eslint.config.mjs
  frontend/src/app/layout.tsx
  frontend/src/components/auth/SignUpForm.tsx
  frontend/src/components/form/input/InputField.tsx
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  erd-generation: any of: ^backend/app/.*\.py$ and \.py$
