Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

Fix `no-any-return` lint error
  backend/app/utils.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⏪ Revert TypeScript to 6.x, openapi-ts does not support 7
  bun.lock
  frontend/package.json
Due: local-biome-check

⏪ Revert @tanstack/react-table to 8.x
  bun.lock
  frontend/package.json
Due: local-biome-check

Run `biome migrate`
  frontend/biome.json
Due: local-biome-check

🎨 Remove leftover text styles from logo SVGs
  frontend/public/assets/images/fastapi-logo-light.svg
  frontend/public/assets/images/fastapi-logo.svg
Due: local-biome-check

fix: err handling python 2 -> python 3
  backend/app/api/deps.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: err handling py2 -> py3
  backend/app/api/deps.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Fix return 401 instead of 404 when a token's user no longer exists
  backend/app/api/deps.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

👷 Use backend mypy config in pre-commit hook
  .pre-commit-config.yaml
Due: none

👷 Use backend ty config in pre-commit hook
  .pre-commit-config.yaml
Due: none

✅ Add test for token authentication as a deleted user
  backend/tests/api/routes/test_login.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Implement get_user function in crud.py
  backend/app/crud.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

📝 Add production hardening section to README
  README.md
Due: none

fix(security): replace direct Docker socket mount with restricted proxy
  compose.yml
Due: none

chore: stop tracking .env, add to gitignore, backend: swap to SQLite for local dev, skip alembic migrations
  .env
  .gitignore
  backend/app/core/config.py
  backend/app/core/db.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore : disabling migrations
  backend/scripts/prestart.sh
Due: generate-frontend-sdk

chore : added mock json files for report viewer
  frontend/src/mocks/impact_reports/drift-endpoint-removed.json
  frontend/src/mocks/impact_reports/drift-field-renamed.json
  frontend/src/mocks/impact_reports/drift-type-changed.json
Due: local-biome-check

chore : added the impact-report file running with mocks and the problem-solution md file in the docs
  docs/problem-solution-statement.md
  frontend/src/mocks/impact-reports/drift-endpoint-removed.json
  frontend/src/mocks/impact-reports/drift-field-renamed.json
  frontend/src/mocks/impact-reports/drift-type-changed.json
  frontend/src/routeTree.gen.ts
  frontend/src/routes/impact-report.tsx
  frontend/src/types/impactReport.ts
Due: local-biome-check

a branch
  backend/app/main.py
  backend/app/models.py
  backend/app/routes/reports.py
  backend/contractguard/diff_agent.py
  backend/contractguard/schemas/diff_report.schema.json
  backend/openapi_snapshots/main.json
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: resolve .env path absolutely regardless of cwd; add diff engine + converter
  backend/app/core/config.py
  backend/contractguard/convert_diff_report.py
  backend/contractguard/diff_agent.py
  backend/contractguard/reports/diff_report_endpoint_removed.json
  backend/contractguard/reports/diff_report_field_renamed.json
  backend/contractguard/reports/diff_report_type_changed.json
  backend/contractguard/reports/test_diff.json
  backend/openapi_snapshots/all/baseline.json
  backend/openapi_snapshots/all/drift_endpoint_removed.json
  backend/openapi_snapshots/all/drift_field_renamed.json
  backend/openapi_snapshots/all/drift_type_changed.json
  backend/openapi_snapshots/diff_agent_base.json
  backend/openapi_snapshots/test_modified.json
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

real diff output: 3 verified, correctly-classified drift reports
  backend/contractguard/reports/diff_report_endpoint_removed.json
  backend/contractguard/reports/diff_report_field_renamed.json
  backend/contractguard/reports/diff_report_type_changed.json
Due: generate-frontend-sdk

Refactor Dockerfile by removing bun installation
  frontend/Dockerfile.playwright
Due: local-biome-check

Add prestart service for backend setup
  compose.yml
Due: none

Add symbolic link for bun in Dockerfile.playwright
  frontend/Dockerfile.playwright
Due: local-biome-check

Update Playwright version in `package.json`
  bun.lock
  frontend/package.json
Due: local-biome-check

Fix commit hash and version tag
  .pre-commit-config.yaml
Due: none

Update `bun.lock`
  bun.lock
Due: none

Simplify datatime fields (remove `sa_type=DateTime(timezone=True)`)
  backend/app/models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Address `auto-update` command deprecation
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

Bump SQLModel min version to `>=0.0.46`
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

Bump `@tanstack/react-table` to 9.2.4
  bun.lock
  frontend/package.json
Due: local-biome-check

♻️ Migrate tables to TanStack Table v9
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Common/DataTable.tsx
  frontend/src/components/Items/columns.tsx
Due: local-biome-check

🔥 Remove unused table column visibility
  frontend/src/components/Common/DataTable.tsx
Due: local-biome-check

feat(testnexus): add isolated full-stack testing
  .gitignore
  README.md
  scripts/testnexus/Dockerfile
  scripts/testnexus/README.md
  scripts/testnexus/install.sh
  scripts/testnexus/run.py
  scripts/testnexus/test_system.py
Due: local-ruff-check, local-ruff-format

⬆️ Migrate `@tanstack/react-table` to 9.x (#2509)
  bun.lock
  frontend/package.json
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Common/DataTable.tsx
  frontend/src/components/Items/columns.tsx
Due: local-biome-check

🐛 Read email templates as UTF-8 to fix UnicodeDecodeError on Windows
  backend/app/utils.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
