Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat: Add RBAC with roles and user-role relationship, including API routes for role management and frontend components for public layout
  .github/copilot-instructions.md
  .gitignore
  PUBLIC_ROUTES_IMPLEMENTATION.md
  RBAC.md
  backend/app/alembic/versions/5280d245c748_add_rbac_with_roles_and_user_role_.py
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/roles.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  compose.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Public/PublicFooter.tsx
  frontend/src/components/Public/PublicHeader.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/index.css
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout.admin.tsx
  frontend/src/routes/_layout.admin/dashboard.tsx
  frontend/src/routes/_layout.admin/index.tsx
  frontend/src/routes/_layout.admin/items.tsx
  frontend/src/routes/_layout.admin/settings.tsx
  frontend/src/routes/_layout.admin/users.tsx
  frontend/src/routes/_public.tsx
  frontend/src/routes/_public/about.tsx
  frontend/src/routes/_public/index.tsx
  frontend/src/routes/_public/races.tsx
  frontend/src/routes/login.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

change deploy to restart ofelia to link to new kila-scraper container
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

add database migrate before any containers start, so that we don't need migrate manually before deploy
  .github/workflows/deploy.yml
Due: none

feat: add actionable insights backend endpoints
  backend/app/api/main.py
  backend/app/api/routes/insights.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add SignalCommandCenter component
  frontend/src/components/app/insight/SignalCommandCenter.tsx
Due: local-biome-check

feat: add SignalDetail component
  frontend/src/components/app/insight/QueryDrillDown.tsx
  frontend/src/components/app/insight/SignalDetail.tsx
Due: local-biome-check

feat: add QueryDrillDown component
  frontend/src/components/app/insight/QueryDrillDown.tsx
Due: local-biome-check

feat: add ActionableInsights page, route guard, and Risk Signals nav
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/insight/ActionableInsights.tsx
  frontend/src/routes/app.insight.risk-intelligence.tsx
Due: local-biome-check

🔒 Pin GitHub actions by commit SHA
  .github/workflows/add-to-project.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

fix: add ApiError type cast in pj-registration onError handler
  frontend/src/routes/pj-registration.tsx
Due: local-biome-check

feat: adapt project from PostgreSQL to SQL Server
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/test-backend.yml
  backend/Dockerfile
  backend/app/alembic/versions/0001_initial_schema.py
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/a1b2c3d4e5f6_create_company_table.py
  backend/app/alembic/versions/b2c3d4e5f6g7_add_company_invite.py
  backend/app/alembic/versions/c3d4e5f6g7h8_add_user_role_and_audit_log.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/alembic/versions/fe56fa70289e_add_created_at_to_user_and_item.py
  backend/app/core/config.py
  backend/pyproject.toml
  backend/tests/conftest.py
  compose.override.yml
  compose.yml
  copier.yml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: address CI failures and Devin Review comments
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  backend/app/core/config.py
  scripts/ci-generate-env.sh
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: add missing env vars (FRONTEND_HOST, DOCKER_IMAGE_*) to CI env script
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  scripts/ci-generate-env.sh
Due: none

fix: move USER_ROLE_LABELS/USER_MANAGER_ROLES to non-generated constants file
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/lib/user-constants.ts
  frontend/src/routes/_layout/admin.tsx
Due: local-biome-check

fix: add Changethis1! to default secret check (Devin Review)
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: add SQL Server readiness timeout in CI workflow
  .github/workflows/test-backend.yml
Due: none

fix: update .env from POSTGRES_* to MSSQL_* variables for SQL Server migration
  .env
Due: none

Hide Items page from delivery; document CRUD as reference
  README.md
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/tests/items.spec.ts
Due: local-biome-check

Configure pre-commit to add a date to the latest release header
  .pre-commit-config.yaml
  scripts/add_latest_release_date.py
Due: local-ruff-check, local-ruff-format

👷 Add `ty` to precommit (#2227)
  .pre-commit-config.yaml
  backend/app/alembic/env.py
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/models.py
  backend/app/utils.py
  backend/pyproject.toml
  backend/scripts/lint.sh
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

🔨 Add pre-commit hook to ensure latest release header has date (#2205)
  .pre-commit-config.yaml
  release-notes.md
  scripts/add_latest_release_date.py
Due: local-ruff-check, local-ruff-format

Pin pre-commit hook by hash
  .pre-commit-config.yaml
Due: none

Refactor user deletion logic in users.py
  backend/app/api/routes/users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: ajustes de configuracao e fluxo
  backend/app/core/config.py
  frontend/src/routes/login.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Improve API error handling documentation in development guide
  development.md
Due: none

feat: 添加实时通知功能
  backend/app.db
  backend/app/alembic/versions/add_notification_table.py
  backend/app/api/main.py
  backend/app/api/routes/notifications.py
  backend/app/api/routes/websocket.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/websocket.py
  backend/app/main.py
  backend/app/models.py
  frontend/src/client/index.ts
  frontend/src/client/notifications.gen.ts
  frontend/src/components/Notifications/NotificationCenter.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

add user export
  backend/app/api/routes/users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

test for user export
  backend/tests/api/routes/test_users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

🔒 Pin GitHub actions by commit SHA (#2246)
  .github/workflows/add-to-project.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .pre-commit-config.yaml
Due: none

Setup cooldown period time for Dependabot
  .github/dependabot.yml
Due: none

Add `pre-commit` package ecosystem to Dependabot config
  .github/dependabot.yml
Due: none

Add zizmor hook to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

Resolve `smokeshow.yml`
  .github/workflows/smokeshow.yml
  pyproject.toml
  uv.lock
Due: none

Resolve `pre-commit.yml`
  .github/workflows/pre-commit.yml
Due: none

Resolve `playwright.yml`
  .github/workflows/playwright.yml
Due: none

Resolve `latest-changes.yml`
  .github/workflows/latest-changes.yml
Due: none
