Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

👷 Add release automation (#2431)
  .github/pr-submit.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/prepare-release.yml
  deployment.md
  pyproject.toml
  scripts/prepare_release.py
  uv.lock
Due: local-ruff-check, local-ruff-format

♻️ Refactor env vars handling
  .env
  backend/app/core/config.py
  compose.yml
  deployment.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Migrate to `DATABASE_URL` instead of separate variables (#2184)
  .env
  backend/app/alembic/env.py
  backend/app/core/config.py
  backend/app/core/db.py
  compose.yml
  deployment.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆ Migrate frontend dependency updates
  bun.lock
  frontend/Dockerfile.playwright
  frontend/biome.json
  frontend/package.json
  frontend/src/routeTree.gen.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: local-biome-check

Fix mypy no-any-return in contract checks.
  backend/app/core/ai/openai.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Map generation failures with explicit error_kind.
  backend/app/core/ai/openai.py
  backend/scripts/evaluate.py
  backend/tests/core/test_openai.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Replace Mailcatcher with Mailpit for local email testing
  .github/workflows/test-backend.yml
  README.md
  backend/README.md
  compose.override.yml
  development.md
  frontend/.env
  frontend/tests/reset-password.spec.ts
  frontend/tests/utils/mailcatcher.ts
  frontend/tests/utils/mailpit.ts
Due: local-biome-check, generate-frontend-sdk

♻️ Simplify Docker Compose deployment
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  deployment.md
  development.md
Due: none

♻️ Simplify Docker Compose deployment (#2435)
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  deployment.md
  development.md
Due: none

☁️ Add FastAPI Cloud deployment
  .fastapicloudignore
  .github/workflows/deploy-docker-compose.yml
  .github/workflows/deploy.yml
  README.md
  deployment-docker-compose.md
  deployment.md
  frontend/README.md
Due: local-biome-check

☁️ Add FastAPI Cloud deployment (#2438)
  .fastapicloudignore
  .github/workflows/deploy-docker-compose.yml
  .github/workflows/deploy.yml
  README.md
  deployment-docker-compose.md
  deployment.md
  frontend/README.md
Due: local-biome-check

👷 Migrate automatic labels to Latest Changes (#2439)
  .github/labeler.yml
  .github/latest-changes.yml
  .github/workflows/labeler.yml
Due: none

🐳 Include frontend assets in Docker build context
  .dockerignore
Due: none

🐳 Include frontend assets in Docker build context (#2440)
  .dockerignore
Due: none

📝 Simplify project documentation
  README.md
  backend/README.md
  development.md
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

📝 Simplify project documentation (#2442)
  README.md
  backend/README.md
  development.md
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

🐛 Add background to the sticky layout header (#2384)
  frontend/src/routes/_layout.tsx
Due: local-biome-check

♻️ Replace Mailcatcher with Mailpit for local email testing (#2436)
  .github/workflows/test-backend.yml
  README.md
  backend/README.md
  compose.override.yml
  development.md
  frontend/.env
  frontend/tests/reset-password.spec.ts
  frontend/tests/utils/mailcatcher.ts
  frontend/tests/utils/mailpit.ts
Due: local-biome-check, generate-frontend-sdk

Add Deply architecture config
  README.md
  deply.yaml
Due: none

docs: document RBAC setup, permissions, and smoke test script
  README.md
  TASK.md
  backend/Dockerfile
  scripts/smoke_rbac.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

test: add authorization tests and role fixtures
  backend/tests/api/routes/test_authorization.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
  backend/tests/utils/user.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: add manager and member seed credentials to env
  .env
Due: none

feat: wire RBAC into sidebar, routes, and admin UI
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Admin/UserActionsMenu.tsx
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/components/UserSettings/GlobalSettings.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/metrics.tsx
  frontend/src/routes/_layout/settings.tsx
Due: local-biome-check

feat: enforce RBAC on user routes and add metrics endpoint
  backend/app/api/main.py
  backend/app/api/routes/metrics.py
  backend/app/api/routes/users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add RBAC roles, permissions module, migration, and seed users
  backend/app/alembic/versions/a1b2c3d4e5f6_add_user_role.py
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/permissions.py
  backend/app/crud.py
  backend/app/models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: adapt docker compose for local Docker Compose v2.16
  compose.override.yml
  compose.yml
Due: none

feat: add frontend permission helpers and access denied UI
  frontend/src/client/types.gen.ts
  frontend/src/components/Common/AccessDenied.tsx
  frontend/src/hooks/usePermissions.ts
  frontend/src/lib/permissions.ts
Due: local-biome-check

feat: log authorization denials and add coverage test
  backend/app/api/deps.py
  backend/tests/api/routes/test_authorization.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: use real GitHub CLI path instead of conflicting /usr/bin/gh
  README.md
  scripts/setup-fork-and-pr.sh
Due: none

chore: add script to fork upstream template and open PR
  scripts/setup-fork-and-pr.sh
Due: none

docs: add RBAC ADRs, NOTES, and bonus submission docs
  NOTES.md
  docs/adr/001-permission-based-rbac.md
  docs/adr/002-frontend-permission-mirror.md
Due: none

chore: remove agent skill symlinks and ignore IDE tool dirs
  .agents/skills/fastapi
  .agents/skills/library-skills/.library-skills.json
  .agents/skills/library-skills/SKILL.md
  .agents/skills/sqlmodel
  .claude/skills/fastapi
  .claude/skills/library-skills/.library-skills.json
  .claude/skills/library-skills/SKILL.md
  .claude/skills/sqlmodel
  .gitignore
Due: none

docs: add reviewer guide for non-fork template diff
  README.md
  TASK.md
  docs/REVIEW.md
  scripts/review-diff.sh
Due: none

docs: document fork and PR submission workflow
  README.md
  TASK.md
Due: none

Revert "docs: add reviewer guide for non-fork template diff"
  README.md
  TASK.md
  docs/REVIEW.md
  scripts/review-diff.sh
Due: none

chore: add compose.override.example.yml and gitignore local override
  backend/README.md
  compose.override.example.yml
  development.md
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

docs: add English AI conversation exports for submission
  README.md
  TASK.md
  compose.override.yml
  docs/ai-conversations/2026-08-18-cursor-rbac-full-export.md
  docs/ai-conversations/2026-08-18-cursor-session-summary.md
  docs/ai-conversations/README.md
Due: none

fix: rebase onto upstream before fork push for valid PR
  scripts/setup-fork-and-pr.sh
Due: none

chore: remove one-time fork setup script after PR is open
  README.md
  TASK.md
  scripts/setup-fork-and-pr.sh
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
