Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

🔧 Refactor import statements in Alembic migration files for consistency
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/fe56fa70289e_add_created_at_to_user_and_item.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

ci: run workflows on Python 3.12; compatibility fixes
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  backend/app/core/security.py
  backend/app/models.py
  backend/app/utils.py
  backend/pyproject.toml
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

ci: provide default env for openapi generation in CI
  scripts/generate-client.sh
Due: generate-frontend-sdk

🔧 Update Playwright and backend test workflows for consistency and clarity
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
Due: none

compat(ci): import Self from typing_extensions for py3.10 prestart
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

update code
  .env
  backend/app/api_keys/crud.py
  backend/app/files/router.py
  backend/app/files/service.py
  frontend/.env
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Files/columns.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/routes/_layout/topup.tsx
  test.py
  test_async.py
  test_file.pdf
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Refactor code structure for improved readability and maintainability
  .DS_Store
  .env
  backend/app/alembic/versions/c3d4e5f6a7b8_phase3_pgvector_extension.py
  backend/app/alembic/versions/d4e5f6a7b8c9_phase3_race_embedding_column.py
  backend/app/alembic/versions/e5f6a7b8c9d0_convert_enum_columns_to_varchar.py
  backend/app/alembic/versions/f6a7b8c9d0e1_make_racecategory_start_time_nullable.py
  backend/app/api/main.py
  backend/app/api/rate_limit.py
  backend/app/api/routes/races.py
  backend/app/api/routes/tags.py
  backend/app/core/config.py
  backend/app/crud.py
  backend/app/main.py
  backend/app/models.py
  backend/app/services/ai.py
  backend/app/services/cache.py
  backend/app/worker.py
  backend/pyproject.toml
  backend/scripts/seed_races.py
  backend/tests/services/__init__.py
  backend/tests/services/test_ai.py
  compose.yml
  frontend/src/components/Races/CourseMap.tsx
  frontend/src/components/Races/ElevationChart.tsx
  frontend/src/components/Races/RaceAssistant.tsx
  frontend/src/components/Races/RaceCard.tsx
  frontend/src/components/Races/RacesMapView.tsx
  frontend/src/components/Races/SaveButton.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout.history.tsx
  frontend/src/routes/_layout.onboarding.tsx
  frontend/src/routes/_layout.saved.tsx
  frontend/src/routes/_public/index.tsx
  frontend/src/routes/_public/races.$raceId.tsx
  frontend/src/routes/_public/races.tsx
  uv.lock
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Add backend role-based access control
  backend/app/alembic/versions/b3a8e8a9d5f2_add_user_role.py
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/metrics.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_metrics.py
  backend/tests/api/routes/test_users.py
  backend/tests/utils/user.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

reproduce test failure
  .github/workflows/test-docker-compose.yml
Due: none

fix curl commands
  .github/workflows/test-docker-compose.yml
Due: none

revert failing endpoints
  .github/workflows/test-docker-compose.yml
Due: none

upgrade Node.js 20 actions
  .github/workflows/add-to-project.yml
Due: none

Implement feature X to enhance user experience and optimize performance
  uv.lock
Due: none

Refactor code structure for improved readability and maintainability
  backend/app/alembic/versions/064eff5bcff1_add_country_code_province_name_and_ward_.py
  backend/app/alembic/versions/e3b62a02ffd7_add_vietnamese_administrative_tables.py
  backend/app/alembic/versions/fbc16b106df0_add_province_and_ward_foreign_keys_to_.py
  backend/app/api/main.py
  backend/app/api/routes/provinces.py
  backend/app/api/routes/races.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/services/ai.py
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Races/AddRace.tsx
  frontend/src/components/Races/EditRace.tsx
  frontend/src/components/Races/FilterBar.tsx
  frontend/src/components/Races/RaceCategoryManager.tsx
  frontend/src/hooks/useRaceSearch.ts
  frontend/src/routes/_public/races.tsx
  package-lock.json
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Refactor code structure for improved readability and maintainability
  .gitignore
  frontend/package.json
  frontend/src/components/Races/AddRace.tsx
  frontend/src/components/Races/EditRace.tsx
  frontend/src/components/ui/rich-text-editor.tsx
  frontend/src/components/ui/toggle.tsx
  package-lock.json
Due: local-biome-check

Implement comprehensive SEO and AEO optimization across VNRunner
  SEO_IMPLEMENTATION.md
  frontend/public/robots.txt
  frontend/src/components/Races/CourseMap.tsx
  frontend/src/components/Races/RaceCard.tsx
  frontend/src/lib/seo.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout.history.tsx
  frontend/src/routes/_public/about.tsx
  frontend/src/routes/_public/index.tsx
  frontend/src/routes/_public/races/$raceId.tsx
  frontend/src/routes/_public/races/index.tsx
Due: local-biome-check

feat: add race detail and listing pages with language support
  CHANGELOG_MULTILANG_ADMIN.md
  MULTI_LANGUAGE_IMPLEMENTATION.md
  backend/app/alembic/versions/88968afdc9ad_add_multi_language_support.py
  backend/app/api/routes/race_categories.py
  backend/app/api/routes/races.py
  backend/app/api/routes/tags.py
  backend/app/i18n.py
  backend/app/models.py
  frontend/package.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/CategoryTranslationManager.tsx
  frontend/src/components/Admin/RaceTranslationManager.tsx
  frontend/src/components/Admin/TagTranslationManager.tsx
  frontend/src/components/Admin/TranslationEditor.tsx
  frontend/src/components/Common/LanguageSwitcher.tsx
  frontend/src/components/Public/PublicHeader.tsx
  frontend/src/components/Races/EditRace.tsx
  frontend/src/components/Races/RaceCard.tsx
  frontend/src/hooks/useLanguageSync.ts
  frontend/src/i18n/config.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/vi.json
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/$lang._public.tsx
  frontend/src/routes/$lang._public/about.tsx
  frontend/src/routes/$lang._public/index.tsx
  frontend/src/routes/$lang._public/races/$raceId.tsx
  frontend/src/routes/$lang._public/races/index.tsx
  frontend/src/routes/$lang.tsx
  frontend/src/routes/_layout.admin/tags.tsx
  frontend/src/routes/_layout.history.tsx
  frontend/src/routes/index.tsx
  package-lock.json
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: update race links to include language parameters for better routing
  frontend/src/routes/$lang._public/index.tsx
Due: local-biome-check

🔒️ Add zizmor and fix audit findings (#2260)
  .github/dependabot.yml
  .github/workflows/add-to-project.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .github/workflows/zizmor.yml
  .pre-commit-config.yaml
  deployment.md
  pyproject.toml
  uv.lock
Due: none

Enhance About, Home, and Races pages with improved styling and layout
  frontend/src/components/Public/PublicFooter.tsx
  frontend/src/components/Races/RaceCard.tsx
  frontend/src/index.css
  frontend/src/routes/$lang._public/about.tsx
  frontend/src/routes/$lang._public/index.tsx
  frontend/src/routes/$lang._public/races/$raceId.tsx
  frontend/src/routes/$lang._public/races/index.tsx
Due: local-biome-check

close PR when external dependencies are modified
  .github/workflows/guard-dependencies.yml
  CONTRIBUTING.md
Due: none

🔒️ Only allow team members to modify dependencies (#2292)
  .github/workflows/guard-dependencies.yml
  CONTRIBUTING.md
Due: none

refactor: remove default exports from multiple route components for consistency
  frontend/src/routes/$lang._public/about.tsx
  frontend/src/routes/$lang._public/races/index.tsx
  frontend/src/routes/_layout.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

👷 Configure Dependabot to group updates and update weekly
  .github/dependabot.yml
Due: none

first commit
  NOTES.md
  README.md
  backend/.env
  backend/app/alembic/versions/291237274644_add_role_to_user.py
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/metrics.py
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/models.py
  backend/tests/api/routes/test_rbac.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
  backend/tests/utils/user.py
  compose.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/lib/auth/permissions.ts
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/forbidden.tsx
  frontend/src/routes/_layout/metrics.tsx
  package-lock.json
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

some little changes
  NOTES.md
  frontend/src/lib/auth/permissions.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/metrics.tsx
Due: local-biome-check

fork
  README.md
Due: none

📝 Update security policy
  SECURITY.md
Due: none

📝 Update security policy (#2297)
  SECURITY.md
Due: none

feat(cicd): add AWS ECS deploy pipeline for dev environment
  .cicd/app.yaml
  .cicd/cdk/bootstrap-apprunner.ts
  .cicd/cdk/bootstrap-ecs.ts
  .cicd/cdk/import-existing.ts
  .cicd/cdk/package.json
  .cicd/cdk/tsconfig.json
  .cicd/env/dev.yaml
  .cicd/env/dev.yaml.example
  .cicd/env/prod.yaml.example
  .cicd/env/staging.yaml.example
  .cicd/project.yaml
  .cicd/runbooks/rollback.md
  .cicd/scripts/estimate.py
  .cicd/secrets/README.md
  .github/workflows/cdk-bootstrap.yml
  .github/workflows/ci.yml
  .github/workflows/cost-estimate.yml
  .github/workflows/deploy-ecs.yml
  .github/workflows/release.yml
  .gitignore
Due: local-ruff-check, local-ruff-format

Update min version in `pyproject.toml`
  backend/pyproject.toml
Due: generate-frontend-sdk

🔥 Remove config files now in central GitHub repo
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Due: none

🔥 Remove config files now in central GitHub repo (#2300)
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Due: none

fix:nginx
  compose.override.yml
  frontend/nginx-backend-not-found.conf
Due: local-biome-check

Add tests to check if items are delete after user deletion
  backend/tests/api/routes/test_users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Remove already covered parts.
  backend/tests/api/routes/test_users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
