Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

Add function to create a random item for a user
  backend/tests/utils/item.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Fix logic error for user random item creation
  backend/tests/api/routes/test_users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Refactor redundant random item creation
  backend/tests/api/routes/test_users.py
  backend/tests/utils/item.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Fix typo in the comment for DOMAIN
  .env
Due: none

👷 Configure Dependabot to group updates and update weekly (#2293)
  .github/dependabot.yml
Due: none

update:ignore
  .gitignore
Due: none

added claude.md
  CLAUDE.md
Due: none

📝 Simplify error message for non-existent user in password recovery
  backend/app/api/routes/login.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add Coolify deployment guide and rename app to Well Apps
  .env
  compose.coolify.yml
  docs/coolify-deployment.md
  frontend/index.html
  frontend/src/components/Common/Footer.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

chore: remove emoji
  README.md
Due: none

chore: update repository links in README and render.yaml to point to render-examples
  README.md
  render.yaml
Due: none

fix(render): move secrets out of env group to service envVars
  README.md
  render.yaml
Due: none

fix(render): restore start.sh removed upstream
  backend/scripts/start.sh
Due: generate-frontend-sdk

fix(render): honor WEB_CONCURRENCY for worker count
  backend/scripts/start.sh
Due: generate-frontend-sdk

chore: point Deploy to Render URLs at fastapi/full-stack-fastapi-template
  README.md
  render.yaml
Due: none

✏️ Fix typo in the comment for DOMAIN in the .env file (#2305)
  .env
Due: none

docs: 新增 Assess2 Proposals 设计文档
  documentation/Proposals.md
Due: none

👷 Add pre-commit hook to catch typos
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Apply suggestion from @YuriiMotov
  .pre-commit-config.yaml
Due: none

updated for proposals
  documentation/Proposals.md
Due: none

fix: use try/finally in get_db to preserve exception stack traces
  backend/app/api/deps.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Inicializo proyecto
  .env
  .python-version
  backend/uv.lock
  main.py
  pyproject.backup.toml
  pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Levanto proyecto sin Docker y configuro pasos para hacerlo en el README, .env a gitignore
  .gitignore
  README.md
Due: none

Arreglo cambios en el .env
  .env
Due: none

Conecto la db a Supabase y compruebo la creación de tablas y primeras instancias OK
  backend/README.md
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/pyproject.toml
  backend/uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

refactor: simplify compose files — remove Traefik, adminer, proxy
  compose.override.yml
  compose.yml
Due: none

added version v1.1.0
  release-notes.md
Due: none

Update `bun.lock`
  bun.lock
Due: none

Remove `baseUrl` to resolve TypeScript deprecation warning
  frontend/tsconfig.json
Due: local-biome-check

Fix frontend build on TS 6 by adding "node" to tsconfig `types`
  frontend/tsconfig.json
Due: local-biome-check

Update playwright docker image to match playwrite version
  frontend/Dockerfile.playwright
Due: local-biome-check

Allow pytest 9.x in pyproject
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

fix
  .env
  backend/app/alembic/versions/a7b8c9d0e1f2_add_user_type_to_users.py
  backend/app/core/db.py
  backend/app/users/constants.py
  backend/app/users/models.py
  backend/app/users/schemas.py
  backend/app/users/service.py
  front-end/app/[locale]/(app)/billing/page.tsx
  front-end/app/[locale]/(app)/documents/page.tsx
  front-end/app/[locale]/(app)/loading.tsx
  front-end/app/[locale]/(app)/members/page.tsx
  front-end/app/[locale]/(app)/profile/page.tsx
  front-end/app/[locale]/(app)/upload/page.tsx
  front-end/app/[locale]/(auth)/loading.tsx
  front-end/app/globals.css
  front-end/components/dashboard/ProfileView.tsx
  front-end/components/dashboard/UsersView.tsx
  front-end/components/layouts/CompanyShell.tsx
  front-end/components/layouts/ProtectedShell.tsx
  front-end/components/ui/Spinner.tsx
  front-end/lib/auth.ts
  front-end/lib/client/schemas.gen.ts
  front-end/lib/client/types.gen.ts
  front-end/messages/en.json
  front-end/messages/vi.json
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

README.md
  README.md
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
