Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

Bump playwright docker image from 1.61.1 to 1.62.1
  frontend/Dockerfile.playwright
Due: local-biome-check

Address `__dirname` unsupported by `configLoader: 'native'` warning
  frontend/vite.config.ts
Due: local-biome-check

♻️ Simplify local development workflow
  .env
  .pre-commit-config.yaml
  README.md
  backend/README.md
  compose.override.yml
  compose.yml
  development.md
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

♻️ Simplify local development workflow (#2414)
  .env
  .pre-commit-config.yaml
  README.md
  backend/README.md
  compose.override.yml
  compose.yml
  development.md
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

♻️ Simplify environment defaults
  .env
  compose.override.yml
  compose.yml
  deployment.md
Due: none

♻️ Simplify environment defaults (#2415)
  .env
  compose.override.yml
  compose.yml
  deployment.md
Due: none

♻️ Simplify Copier environment configuration
  .copier/update_dotenv.py
  README.md
  copier.yml
  deployment.md
Due: local-ruff-check, local-ruff-format

♻️ Simplify Copier environment configuration (#2416)
  .copier/update_dotenv.py
  README.md
  copier.yml
  deployment.md
Due: local-ruff-check, local-ruff-format

♻️ Simplify optional environment configuration
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  backend/app/core/config.py
  compose.override.yml
  compose.yml
  deployment.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Simplify optional environment configuration (#2417)
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  backend/app/core/config.py
  compose.override.yml
  compose.yml
  deployment.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Require non-empty Compose configuration
  .env
  compose.deploy.yml
  compose.override.yml
  compose.yml
  deployment.md
Due: none

♻️ Require non-empty Compose configuration (#2418)
  .env
  compose.deploy.yml
  compose.override.yml
  compose.yml
  deployment.md
Due: none

📝 Clarify environment configuration
  .env
  deployment.md
Due: none

📝 Clarify environment configuration (#2419)
  .env
  deployment.md
Due: none

✨ Add react-email for email templates
  .pre-commit-config.yaml
  backend/README.md
  backend/app/email-templates/build/new_account.html
  backend/app/email-templates/build/reset_password.html
  backend/app/email-templates/build/test_email.html
  backend/app/email-templates/new_account.html
  backend/app/email-templates/reset_password.html
  backend/app/email-templates/src/new_account.mjml
  backend/app/email-templates/src/reset_password.mjml
  backend/app/email-templates/src/test_email.mjml
  backend/app/email-templates/test_email.html
  backend/app/utils.py
  bun.lock
  package.json
  packages/react-email/biome.json
  packages/react-email/emails/new_account.tsx
  packages/react-email/emails/reset_password.tsx
  packages/react-email/emails/test_email.tsx
  packages/react-email/package.json
  packages/react-email/readme.md
  packages/react-email/tsconfig.json
  packages/react-email/ui/Button.tsx
  packages/react-email/ui/Callout.tsx
  packages/react-email/ui/Heading.tsx
  packages/react-email/ui/Layout.tsx
  packages/react-email/ui/Link.tsx
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

🔥 Remove mjml from recommended extensions
  .vscode/extensions.json
Due: none

✅ Fix sign-up test race
  frontend/tests/sign-up.spec.ts
Due: local-biome-check

🔥 Remove autogenerated react-email readme
  packages/react-email/readme.md
Due: none

✅ Fix sign-up test race (#2422)
  frontend/tests/sign-up.spec.ts
Due: local-biome-check

♻️ Use FastAPI entrypoint in Compose
  compose.override.yml
Due: none

✨ Add react-email for email templates (#2421)
  .pre-commit-config.yaml
  .vscode/extensions.json
  backend/README.md
  backend/app/email-templates/build/new_account.html
  backend/app/email-templates/build/reset_password.html
  backend/app/email-templates/build/test_email.html
  backend/app/email-templates/new_account.html
  backend/app/email-templates/reset_password.html
  backend/app/email-templates/src/new_account.mjml
  backend/app/email-templates/src/reset_password.mjml
  backend/app/email-templates/src/test_email.mjml
  backend/app/email-templates/test_email.html
  backend/app/utils.py
  bun.lock
  package.json
  packages/react-email/biome.json
  packages/react-email/emails/new_account.tsx
  packages/react-email/emails/reset_password.tsx
  packages/react-email/emails/test_email.tsx
  packages/react-email/package.json
  packages/react-email/tsconfig.json
  packages/react-email/ui/Button.tsx
  packages/react-email/ui/Callout.tsx
  packages/react-email/ui/Heading.tsx
  packages/react-email/ui/Layout.tsx
  packages/react-email/ui/Link.tsx
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Use FastAPI entrypoint in Compose (#2420)
  compose.override.yml
Due: none

👷 Remove legacy label check
  .github/workflows/labeler.yml
Due: none

♻️ Simplify uv workspace setup
  backend/README.md
  compose.override.yml
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

♻️ Simplify uv workspace setup (#2423)
  backend/README.md
  compose.override.yml
  frontend/README.md
Due: local-biome-check, generate-frontend-sdk

👷 Remove legacy label check (#2424)
  .github/workflows/labeler.yml
Due: none

♻️ Require explicit SECRET_KEY
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Require explicit SECRET_KEY (#2425)
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Run database setup explicitly before startup
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/playwright.yml
  .github/workflows/test-docker-compose.yml
  backend/README.md
  compose.deploy.yml
  compose.override.yml
  compose.yml
  deployment.md
  development.md
  frontend/README.md
  scripts/test-local.sh
  scripts/test.sh
Due: local-biome-check, generate-frontend-sdk

♻️ Run database setup explicitly before startup (#2426)
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/playwright.yml
  .github/workflows/test-docker-compose.yml
  backend/README.md
  compose.deploy.yml
  compose.override.yml
  compose.yml
  deployment.md
  development.md
  frontend/README.md
  scripts/test-local.sh
  scripts/test.sh
Due: local-biome-check, generate-frontend-sdk

♻️ Use FASTAPI_ENV for development
  .env
  backend/app/api/main.py
  backend/app/core/config.py
  backend/app/main.py
  compose.override.yml
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Use FASTAPI_ENV for development (#2427)
  .env
  backend/app/api/main.py
  backend/app/core/config.py
  backend/app/main.py
  compose.override.yml
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

📝 Remove obsolete local domain setup
  compose.override.yml
  development.md
Due: none

📝 Remove obsolete local domain setup (#2428)
  compose.override.yml
  development.md
Due: none

♻️ Simplify CORS configuration
  backend/app/core/config.py
  backend/app/main.py
  compose.yml
  deployment.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Simplify CORS configuration (#2429)
  backend/app/core/config.py
  backend/app/main.py
  compose.yml
  deployment.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Remove Copier project generation
  .copier/.copier-answers.yml.jinja
  .copier/update_dotenv.py
  README.md
  copier.yml
Due: local-ruff-check, local-ruff-format

♻️ Remove Copier project generation (#2430)
  .copier/.copier-answers.yml.jinja
  .copier/update_dotenv.py
  README.md
  copier.yml
Due: local-ruff-check, local-ruff-format

Ship interview-ready prompt eval harness and docs.
  .gitignore
  README.md
  backend/evals/corpus/smoke_algorithms.txt
  backend/evals/corpus/smoke_functions.txt
  backend/evals/corpus/smoke_recursion.txt
  backend/evals/rubric.md
  backend/scripts/evaluate.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

👷 Add release automation
  .github/pr-submit.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/prepare-release.yml
  deployment.md
  pyproject.toml
  scripts/prepare_release.py
  uv.lock
Due: local-ruff-check, local-ruff-format

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
