Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, erd-generation

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types: [text]
        files: ^frontend/
      - id: erd-generation
        name: ERD generation
        entry: bash -c 'cd backend && python scripts/generate_erd.py --validate --verbose --force'
        language: system
        types: [python]
        files: ^backend/app/.*\.py$
        stages: [pre-commit]
        always_run: false
        pass_filenames: true
        require_serial: false
        description: "Generate and validate ERD diagrams from SQLModel definitions (Mermaid format)"

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

v2
  .vscode/launch.json
Due: none

v3
  .vscode/launch.json
Due: none

🚀 Add Dev Container support
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  backend/Makefile
  development.md
  frontend/Makefile
Due: local-biome-check

add document endpoint and related code to the API
  backend/app/alembic/versions/db14556d2858_add_document_model_to_the_db.py
  backend/app/api/main.py
  backend/app/api/routes/documents.py
  backend/app/core/config.py
  backend/app/core/extractors.py
  backend/app/core/s3.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_documents.py
  backend/tests/utils/document.py
Due: erd-generation

add boto3 and langchain to deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

add textract to deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

✨ Autogenerate frontend client
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check

add aws key to test-backend.yml
  .github/workflows/test-backend.yml
Due: none

add extractors test
  backend/tests/core/test_extractors.py
Due: none

fix lint types-boto3
  backend/pyproject.toml
  backend/uv.lock
Due: none

add aws and s3 secrets to env in docker-compose.yml
  docker-compose.yml
Due: none

update env in test-docker-compose
  .github/workflows/test-docker-compose.yml
Due: none

fix env in playwright
  .github/workflows/playwright.yml
Due: none

add new secrets to .env
  .env
  backend/app/core/config.py
Due: erd-generation

Created a basic frontend and backend
  backend/app/alembic/versions/2025010801_add_organizations_projects_galleries.py
  backend/app/api/main.py
  backend/app/api/routes/galleries.py
  backend/app/api/routes/projects.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/seed_data.py
  frontend/src/client/index.ts
  frontend/src/client/services-projects.ts
  frontend/src/client/types-projects.ts
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/galleries.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
  frontend/src/routes/_layout/projects.index.tsx
Due: local-biome-check, erd-generation

Added tests for projects and gallery
  backend/app/tests/crud/test_gallery.py
  backend/app/tests/crud/test_project.py
  backend/app/tests/crud/test_stats.py
Due: erd-generation

skip flakey flakey_test_create_document for now
  backend/app/tests/api/routes/test_documents.py
Due: erd-generation

fix lint
  backend/tests/api/routes/test_documents.py
Due: none

add the rest of the models to alembic and models.py
  backend/app/alembic/versions/d29f99ac75e5_add_question_answer_exam_examattempt_to_.py
  backend/app/models.py
Due: erd-generation

update conftest to include new models in session teardown
  backend/tests/conftest.py
Due: none

update crud.py
  backend/app/crud.py
Due: erd-generation

exams endpoint working again
  backend/app/api/main.py
  backend/app/api/routes/exams.py
  backend/app/core/ai/openai.py
  backend/app/tests/api/routes/test_documents.py
  backend/tests/api/routes/test_exams.py
  backend/tests/utils/exam.py
Due: erd-generation

add OPENAI_API_KEY to pieline envs
  .env
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

add langchain_openai to deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

exam_attempts endpoint working again
  backend/app/api/main.py
  backend/app/api/routes/exam_attempts.py
  backend/tests/api/routes/test_exam_attempts.py
  backend/tests/utils/user.py
Due: erd-generation

try the flakey exam_attempts test again
  backend/tests/api/routes/test_exam_attempts.py
Due: none

flakey tests are all passing now
  backend/tests/api/routes/test_exam_attempts.py
Due: none

Remove non-existing paths
  .github/workflows/lint-backend.yml
Due: none

Add `paths-ignore` for `test-docker-compose.yml`
  .github/workflows/test-docker-compose.yml
Due: none

Add `app/alimbic` to `ignore` in `watch`
  docker-compose.override.yml
Due: none

Remove invalid `./backend/.venv` path from `ignore`
  docker-compose.override.yml
Due: none

Update ignore path `app/alembic` -> `app/alembic/versions`
  docker-compose.override.yml
Due: none

Added link to `acrtivate` docs, restored the default command
  frontend/README.md
Due: local-biome-check

Wrap alternative in TIP
  frontend/README.md
Due: local-biome-check
