Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, alembic-check, alembic-migration-safety

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

alembic-check:
  name: alembic check (detect migration drift)
  entry: bash -c 'cd backend && uv run alembic check'
  language: system
  pass_filenames: false

alembic-migration-safety:
  name: alembic migration safety (prevent data loss)
  entry: python backend/scripts/check_migration_safety.py
  language: system
  pass_filenames: false

🔧 Update suggested extensions
  .vscode/extensions.json
Due: none

📝 Update docs referencing MJML
  backend/README.md
Due: none

🔧 Add recommended VS Code extensions (#1386)
  .gitignore
  .vscode/extensions.json
  backend/README.md
Due: none

E2E tests for Admin page: verify elements visibility on the page, add then delete a user
  frontend/tests/admin.spec.ts
  frontend/tests/utils/admin.ts
Due: local-biome-check

📝 Update release notes
  release-notes.md
Due: none

🔥 Remove debugpy from recommended extensions, it's included by the Python extension
  .vscode/extensions.json
Due: none

🔥 Remove debugpy from recommended extensions, it's included by the Python extension (#2143)
  .vscode/extensions.json
Due: none

✨ Add created_at field to User and Item models
  backend/app/alembic/versions/44fc2bbcc925_add_created_at_to_user_and_item.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/models.py
Due: alembic-check, alembic-migration-safety

♻️ Update created_at
  backend/app/alembic/versions/fe56fa70289e_add_created_at_to_user_and_item.py
  backend/app/models.py
Due: alembic-check, alembic-migration-safety

✨ Add created_at field to User and Item models
  backend/app/models.py
Due: alembic-check

✨ Add created_at field to User and Item models and update endpoints (#2144)
  backend/app/alembic/versions/fe56fa70289e_add_created_at_to_user_and_item.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/models.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check, alembic-check, alembic-migration-safety

🐛 Add user authentication check in admin route to restrict access for non-superusers
  frontend/src/routes/_layout/admin.tsx
Due: local-biome-check

🐛 Add user authentication check in admin route to restrict access for non-superusers (#2145)
  frontend/src/routes/_layout/admin.tsx
Due: local-biome-check

✅ Add items and admin tests, and existing tests minor cleanup
  frontend/tests/admin.spec.ts
  frontend/tests/items.spec.ts
  frontend/tests/login.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/random.ts
Due: local-biome-check

✅ Add items and admin tests, and refactor existing ones (#2146)
  frontend/tests/admin.spec.ts
  frontend/tests/items.spec.ts
  frontend/tests/login.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/random.ts
Due: local-biome-check

⬆️ Update playwright in package.json
  bun.lock
  frontend/package.json
Due: local-biome-check

⬆️ Bump biome schema version to 2.3.12 in biome.json
  frontend/biome.json
Due: local-biome-check

⬆️ Bump biome schema version to 2.3.12 in biome.json (#2154)
  frontend/biome.json
Due: local-biome-check

Fix Docker networking race condition on first startup
  compose.override.yml
Due: none

📝 Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

📝 Add `CONTRIBUTING.md` (#2159)
  CONTRIBUTING.md
Due: none

Frontend hot reload via docker compose watch
  compose.override.yml
  frontend/Dockerfile.dev
Due: local-biome-check

Add healthz endpoint and CORS tests
  backend/app/main.py
  backend/tests/api/routes/test_healthz.py
Due: none

✨ Add new UserSettings profile and card components
  frontend/src/components/UserSettings/AccountSecurityCard.tsx
  frontend/src/components/UserSettings/DangerZoneCard.tsx
  frontend/src/components/UserSettings/DeleteAccountDialog.tsx
  frontend/src/components/UserSettings/PersonalInfoCard.tsx
  frontend/src/components/UserSettings/ProfileContent.tsx
  frontend/src/components/UserSettings/ProfileHeader.tsx
Due: local-biome-check

♻️ Refactor ChangePassword to work as embedded dialog
  frontend/src/components/UserSettings/ChangePassword.tsx
Due: local-biome-check

🔥 Remove old UserSettings components
  frontend/src/components/UserSettings/DeleteAccount.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
Due: local-biome-check

✨ Update settings route to use new UserSettings components
  frontend/src/routes/_layout/settings.tsx
Due: local-biome-check

✅ Update E2E tests for new User Settings UI
  frontend/tests/user-settings.spec.ts
Due: local-biome-check

add setup and makefile for the front-end app
  frontend/.gitignore
  frontend/Makefile
  frontend/pnpm-lock.yaml
  frontend/setup.sh
  frontend/src/main.tsx
Due: local-biome-check

Run mypy by pre-commit
  .pre-commit-config.yaml
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  alembic-check: any of: ^backend/app/(models\.py|alembic/versions/.*\.py)$
  alembic-migration-safety: any of: ^backend/app/alembic/versions/.*\.py$
