Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix: nan footer date
  frontend/src/components/Common/Footer.tsx
Due: local-biome-check

docs: add tone guidelines to CLAUDE.md (#9)
  CLAUDE.md
Due: none

feat: add example environment variable templates for backend and frontend configuration
  .env.example
  frontend/.env.example
Due: local-biome-check

feat(rss): add rss and newsletter sources
  CHANGES.md
  backend/pipeline/run.py
  backend/pipeline/sources/email.py
  backend/pipeline/sources/rss.py
  backend/pipeline/sources/utils.py
  backend/pyproject.toml
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

👷 Add GH workflow to bump pre-commit hook versions (#2363)
  .github/dependabot.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

⬆ Bump pre-commit hooks (#2382)
  .pre-commit-config.yaml
Due: none

feat: add pagination limits to user and item list endpoints
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add background to the sticky layout header
  frontend/src/routes/_layout.tsx
Due: local-biome-check

changed text in readme file
  README.md
Due: none

Update `bun.lock`
  bun.lock
Due: none

Update `openapi-ts.config.ts` to apply migration steps
  frontend/openapi-ts.config.ts
Due: local-biome-check

Generate client (except `types.gen.ts`)
  frontend/src/client/client.gen.ts
  frontend/src/client/client/client.gen.ts
  frontend/src/client/client/index.ts
  frontend/src/client/client/types.gen.ts
  frontend/src/client/client/utils.gen.ts
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/auth.gen.ts
  frontend/src/client/core/bodySerializer.gen.ts
  frontend/src/client/core/params.gen.ts
  frontend/src/client/core/pathSerializer.gen.ts
  frontend/src/client/core/queryKeySerializer.gen.ts
  frontend/src/client/core/request.ts
  frontend/src/client/core/serverSentEvents.gen.ts
  frontend/src/client/core/types.gen.ts
  frontend/src/client/core/utils.gen.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
Due: local-biome-check

Generate client (`types.gen.ts` step 3)
  frontend/src/client/types.gen.ts
Due: local-biome-check

Generate client (`types.gen.ts` step 1)
  frontend/src/client/types.gen.ts
Due: local-biome-check

Generate client (`types.gen.ts` step 2)
  frontend/src/client/types.gen.ts
Due: local-biome-check

Generate client (`types.gen.ts` step 4)
  frontend/src/client/types.gen.ts
Due: local-biome-check

Migrate useAuth to new client API
  frontend/src/hooks/useAuth.ts
Due: local-biome-check

Migrate client config and error handling to client-axios
  frontend/src/main.tsx
  frontend/src/utils.ts
Due: local-biome-check

Migrate route loaders and password flows to new client API
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
Due: local-biome-check

Migrate Admin user components to new client API
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/DeleteUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Items/AddItem.tsx
Due: local-biome-check

Migrate Items and UserSettings components to new client API
  frontend/src/components/Items/DeleteItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
Due: local-biome-check

Migrate Playwright privateApi helper to new client API
  frontend/tests/utils/privateApi.ts
Due: local-biome-check

refactor: use Generic PaginatedResponse for list endpoints
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Upgrade latest-changes to 0.7.1
  .github/workflows/latest-changes.yml
Due: none

⬆️ Upgrade latest-changes to 0.7.1 (#2389)
  .github/workflows/latest-changes.yml
Due: none

⬆️ Upgrade model services to Python 3.14 (comet capped at 3.12)
  services/README.md
  services/comet/Dockerfile
  services/comet/pyproject.toml
  services/comet/uv.lock
  services/labse/Dockerfile
  services/labse/README.md
  services/labse/pyproject.toml
  services/labse/uv.lock
  services/langid/Dockerfile
  services/langid/README.md
  services/langid/pyproject.toml
  services/langid/uv.lock
  services/metricx/Dockerfile
  services/metricx/pyproject.toml
  services/metricx/uv.lock
Due: none

♻️ Move alignment kNN into labse-svc, drop faiss from the backend
  backend/app/core/labse_client.py
  backend/app/models_ml/labse.py
  backend/app/models_ml/metricx.py
  backend/pyproject.toml
  services/README.md
  services/labse/README.md
  services/labse/app/aligner.py
  services/labse/app/config.py
  services/labse/app/main.py
  services/labse/app/schemas.py
  services/labse/pyproject.toml
  services/labse/uv.lock
  services/langid/app/detector.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

🔒️ Move the OpenAI key out of the source into settings
  .env
  backend/app/core/config.py
  backend/app/models_ml/labse.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Refactor additional logic to handle frontend in FastAPI
  .dockerignore
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  backend/Dockerfile
  backend/app/main.py
  backend/scripts/test.sh
  compose.override.yml
  deployment.md
  frontend/playwright.config.ts
  frontend/tests/reset-password.spec.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

🔧 Refactor PostgreSQL env var config
  compose.yml
Due: none

🔧 Refactor PostgreSQL env var config (#2392)
  compose.yml
Due: none

📝 Update docs for local development
  development.md
Due: none

♻️ Additional refactors and docs tweaks
  .env
  README.md
  compose.override.yml
  deployment.md
  development.md
  scripts/generate-client.sh
Due: generate-frontend-sdk

💄 Tweak UI errors
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

📌 Upgrade FastAPI
  uv.lock
Due: none

♻️ Serve frontend from FastAPI (#2393)
  .dockerignore
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/test-docker-compose.yml
  .gitignore
  README.md
  backend/Dockerfile
  backend/app/main.py
  backend/scripts/test.sh
  compose.override.yml
  compose.yml
  deployment.md
  development.md
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/README.md
  frontend/nginx-backend-not-found.conf
  frontend/nginx.conf
  frontend/playwright.config.ts
  frontend/src/main.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/signup.tsx
  frontend/src/vite-env.d.ts
  frontend/tests/reset-password.spec.ts
  frontend/vite.config.ts
  pyproject.toml
  scripts/generate-client.sh
  uv.lock
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

👷 Improve workflows for private repos
  .github/workflows/add-to-project.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .github/workflows/zizmor.yml
Due: none
