Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

update
  backend/app/auth/router.py
  backend/app/core/security.py
  front-end/app/[locale]/(app)/layout.tsx
  front-end/components/dashboard/UsersView.tsx
  front-end/constants/index.ts
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

update
  backend/app/files/router.py
  backend/app/files/schemas.py
  backend/app/files/service.py
  backend/app/ocrs/constants.py
  backend/app/ocrs/service.py
  front-end/app/globals.css
  front-end/components/dashboard/DocumentsView.tsx
  front-end/components/dashboard/PreviewModal.tsx
  front-end/components/dashboard/UploadView.tsx
  front-end/constants/ocr.ts
  front-end/lib/client/schemas.gen.ts
  front-end/lib/client/sdk.gen.ts
  front-end/lib/client/types.gen.ts
  front-end/messages/en.json
  front-end/messages/vi.json
  front-end/next.config.mjs
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

add model
  backend/app/alembic/versions/b1c2d3e4f5a6_add_model_to_file_jobs.py
  backend/app/files/models.py
  backend/app/files/schemas.py
  backend/app/ocrs/service.py
  front-end/app/globals.css
  front-end/components/dashboard/DocumentsView.tsx
  front-end/components/dashboard/PreviewModal.tsx
  front-end/lib/client/schemas.gen.ts
  front-end/lib/client/types.gen.ts
  front-end/lib/data.ts
  front-end/lib/files.ts
  front-end/messages/en.json
  front-end/messages/vi.json
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

add option to download
  front-end/app/globals.css
  front-end/components/dashboard/DocumentsView.tsx
  front-end/messages/en.json
  front-end/messages/vi.json
Due: none

Update pyjwt version pin in `pyproject.toml`
  backend/pyproject.toml
Due: generate-frontend-sdk

Bump `uv` version for `astral-sh/setup-uv`
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Due: none

Fix `uv.lock`
  uv.lock
Due: none

Bump tenacity to `9.1.4`
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

Bump mypy version to 2.1.0
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

Update `bun.lock`
  bun.lock
Due: none

Update playwright docker image to match playwrite version
  frontend/Dockerfile.playwright
Due: local-biome-check

Revert bumping typescript to 6.x
  bun.lock
  frontend/package.json
Due: local-biome-check

Commit auto-updated `routeTree.gen.ts`
  frontend/src/routeTree.gen.ts
Due: local-biome-check

Add catalog-info.yaml config file
  catalog-info.yaml
Due: none

Remove unused exports
  frontend/src/routes/_layout.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

chore(docker): upgrade base image from python:3.10 to python:3.12-slim-trixie
  backend/Dockerfile
Due: generate-frontend-sdk

🔧 Enable checking release-notes.md for typos
  pyproject.toml
Due: none

👷 Add pre-commit hook to catch typos (#2317)
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update zizmor workflow security checks
  .github/workflows/zizmor.yml
Due: none

Use default pull request trigger for zizmor
  .github/workflows/zizmor.yml
Due: none

🔒️ Update zizmor workflow security checks (#2345)
  .github/workflows/zizmor.yml
Due: none

⬆️ Update issue-manager to 0.7.0
  .github/workflows/issue-manager.yml
Due: none

⬆️ Update issue-manager to 0.7.0 (#2347)
  .github/workflows/issue-manager.yml
Due: none

Update issue-manager to 0.7.1
  .github/workflows/issue-manager.yml
Due: none

👷 Update issue-manager to 0.7.1 (#2348)
  .github/workflows/issue-manager.yml
Due: none

Simplify pull request workflow triggers
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

👷 Simplify pull request workflow triggers (#2349)
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

🔧 Sort keys in pyproject.toml
  pyproject.toml
Due: none

🔧 Sort keys in pyproject.toml (#2350)
  pyproject.toml
Due: none

⬆️ Upgrade Python to 3.14
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .python-version
  backend/Dockerfile
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/models.py
  backend/app/utils.py
  backend/pyproject.toml
  backend/tests/conftest.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Upgrade Python to 3.14 (#2352)
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .python-version
  backend/Dockerfile
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/models.py
  backend/app/utils.py
  backend/pyproject.toml
  backend/tests/conftest.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

➕ Move prek to top level dependencies
  backend/pyproject.toml
  pyproject.toml
  uv.lock
Due: generate-frontend-sdk
