Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, erd-generation

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

erd-generation:
  name: ERD generation
  entry: bash -c 'cd backend && python scripts/generate_erd.py --validate --verbose --force'
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true
  require_serial: false
  ...

don't remove Outfit font provider
  frontend/src/app/layout.tsx
Due: local-biome-check

frontend deps add
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

feat: Landing Page
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/NotFound.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/dashboard.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/landing.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

a start
  frontend/src/components/Landing/OddsCard.tsx
  frontend/src/routes/landing.tsx
Due: local-biome-check

closer
  frontend/src/components/Landing/OddsCard.tsx
Due: local-biome-check

dark theme on page
  frontend/src/components/Landing/OddsCard.tsx
  frontend/src/routes/landing.tsx
Due: local-biome-check

feat: card correctly sized
  frontend/src/components/Landing/OddsCard.tsx
Due: local-biome-check

over/under card almost done
  frontend/src/components/Landing/OddsCard.tsx
  frontend/src/routes/landing.tsx
Due: local-biome-check

looks amazing
  frontend/src/components/Landing/OddsCard.tsx
Due: local-biome-check

cleaned up landing page
  frontend/src/routes/landing.tsx
Due: local-biome-check

use a spinner button and useSignup mutation for SignUp form
  frontend/src/components/auth/SignUpForm.tsx
  frontend/src/hooks/useSignup.ts
Due: local-biome-check

fix docker host issue for frontend container script "start"
  frontend/package.json
Due: local-biome-check

signup form successfully posts to backend
  backend/app/api/routes/users.py
  frontend/src/app/layout.tsx
Due: local-biome-check, erd-generation

remove test for unauthorized create_user
  backend/tests/api/routes/test_users.py
Due: none

Replace SQLModel with SQLAlchemy + Pydantic
  .DS_Store
  backend/app/alembic/env.py
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/api/deps.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/backend_pre_start.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/initial_data.py
  backend/app/models.py
  backend/app/tests_pre_start.py
  backend/pyproject.toml
  backend/tests/api/routes/test_items.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_private.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
  backend/tests/crud/test_user.py
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  backend/tests/utils/item.py
  backend/tests/utils/user.py
  backend/uv.lock
Due: erd-generation

use Router instead of tanstack router
  frontend/src/components/auth/SignUpForm.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useSignup.ts
  frontend/src/layout/StaticHeader.tsx
Due: local-biome-check

signin form working
  frontend/src/components/auth/SignInForm.tsx
Due: local-biome-check

Replace SQLModel with SQLAlchemy in items routes
  backend/app/api/routes/items.py
Due: erd-generation

♻️ Update password max length (#1447)
  backend/app/models.py
  frontend/src/client/schemas.gen.ts
Due: local-biome-check, erd-generation

docs: add infrastructure documentation and PRD files
  INFRASTRUCTURE_CHECKLIST.md
  INFRASTRUCTURE_VERIFICATION.md
  backend/pyproject.toml
  backend/uv.lock
  docs/DOCUMENTATION_UPDATE_SUMMARY.md
  docs/SETUP_PLAN.md
  docs/prd/features/document-upload-storage.md
  docs/prd/features/pdf-viewer-integration.md
  docs/prd/implementation-plan-math.md
Due: none

Phase1: Add project proposal, security plan, README and changelog
  CHANGELOG.md
  README.md
  docs/PROJECT_PROPOSAL.md
  docs/SECURITY_PLAN.md
Due: none

Phase1: Add Level-0 DFD (drawio + PNG + PDF)
  docs/system_overview.drawio
  docs/system_overview.pdf
  docs/system_overview.png
Due: none

feat(backend): implement PDF upload API endpoint with Supabase Storage
  backend/app/api/main.py
  backend/app/api/routes/ingestions.py
  backend/app/core/config.py
  backend/app/models.py
  backend/app/services/__init__.py
  backend/app/services/storage.py
  backend/pyproject.toml
  backend/tests/api/routes/test_ingestions.py
  backend/tests/conftest.py
  backend/uv.lock
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check, erd-generation

fix(ci): fix all GitHub Actions workflow failures
  .github/workflows/generate-client.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .python-version
  backend/.python-version
  backend/scripts/lint.sh
Due: none

fix(ci): properly configure uv environment for lint script
  .github/workflows/lint-backend.yml
  backend/scripts/lint.sh
Due: none

fix(ci): add missing required env vars to generate-client workflow
  .github/workflows/generate-client.yml
Due: none

fix(ci): use correct psycopg driver URL in generate-client
  .github/workflows/generate-client.yml
Due: none

fix(ci): add required env vars to lint-backend workflow
  .github/workflows/lint-backend.yml
Due: none

fix(ci): run lint commands directly with uv run instead of bash script
  .github/workflows/lint-backend.yml
Due: none

fix(ci): install dev dependency group for linting tools
  .github/workflows/lint-backend.yml
Due: none

fix(ci): use --dev flag instead of --group dev for uv sync
  .github/workflows/lint-backend.yml
Due: none

fix(ci): upgrade uv from 0.4.15 to 0.9.5 for dependency-groups support
  .github/workflows/generate-client.yml
  .github/workflows/lint-backend.yml
  .github/workflows/test-backend.yml
Due: none

fix(backend): resolve mypy type errors and ruff formatting issues
  .DS_Store
  backend/app/api/routes/ingestions.py
  backend/app/api/routes/tasks.py
  backend/app/core/db.py
  backend/app/models.py
  backend/app/services/storage.py
  backend/app/tasks/__init__.py
  backend/app/tasks/default.py
  backend/app/tasks/extraction.py
  backend/app/worker.py
  docs/.DS_Store
Due: erd-generation

fix(ci): add required environment variables for docker-compose in test-backend
  .github/workflows/test-backend.yml
Due: none

fix(ci): add missing environment variables to test-docker-compose
  .github/workflows/test-docker-compose.yml
Due: none

⬆ Bump @playwright/test from 1.55.0 to 1.56.1 in package.json and package-lock.json
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

fix(frontend): remove unused FiBriefcase import from SidebarItems
  frontend/src/components/Common/SidebarItems.tsx
Due: local-biome-check

fix(ci): add optional env vars and create dummy .env file for docker-compose
  .github/workflows/test-docker-compose.yml
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  erd-generation: any of: ^backend/app/.*\.py$ and \.py$
