Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

Fix browser caching: no-cache for index.html, immutable for hashed assets
  frontend/nginx.conf
Due: local-biome-check

change font and added a new logo
  frontend/public/assets/images/Kila_logo.png
  frontend/public/assets/images/Kila_logo.svg
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/Header.tsx
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/landing/PricingSection.tsx
  frontend/src/components/landing/ProductSection.tsx
  frontend/src/components/landing/TestimonialSection.tsx
  frontend/src/index.css
Due: local-biome-check

fixed a issue when build package
  frontend/src/components/landing/Header.tsx
Due: local-biome-check

Fix browser caching of error pages: no-store on 5xx, no-cache on frontend proxy
  nginx.prod.conf
Due: none

Use Kila SVG as browser tab favicon
  frontend/index.html
Due: local-biome-check

Enable HTTPS with Cloudflare Origin Certificate
  .gitignore
  docker-compose.prod.yml
  nginx.prod.conf
Due: none

Add dates to release notes
  release-notes.md
Due: none

added a new page for basic metrics and changed font, style
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
  docker-compose.prod.yml
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/Insight.tsx
  frontend/src/components/app/dashboard/BrandImpression.tsx
  frontend/src/components/app/dashboard/Dashboard.tsx
  frontend/src/components/app/dashboard/components/AIReferenceSourceTable.tsx
  frontend/src/components/app/dashboard/components/CustomerReviewTable.tsx
  frontend/src/components/app/dashboard/components/DashboardPageLayout.tsx
  frontend/src/components/app/dashboard/components/OverviewChart.tsx
  frontend/src/components/app/insight/CompetitiveRisk.tsx
  frontend/src/components/app/insight/GrowthRisk.tsx
  frontend/src/components/app/insight/RankingPositionRisk.tsx
  frontend/src/components/landing/LandingPage.tsx
  frontend/src/index.css
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app.dashboard.brand-impression.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Fix 502: pull kila-models before docker build in deploy workflow
  .github/workflows/deploy.yml
Due: none

Fix deploy: clone kila-models if missing, use set -e for fail-fast
  .github/workflows/deploy.yml
Due: none

Fix TS build errors blocking Docker frontend build
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/dashboard/components/DashboardPageLayout.tsx
Due: local-biome-check

Deploy: rebuild all containers on every push
  .github/workflows/deploy.yml
Due: none

refont front and dashboard
  .env.example
  backend/app/api/main.py
  backend/app/api/routes/dashboard.py
  backend/app/models.py
  backend/app/repositories/generation_repository.py
  backend/app/services/generation_service.py
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/loading-button.tsx
  frontend/src/index.css
  frontend/src/lib/templateMvpApi.ts
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/templates.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Update Ofelia to run daily_pipeline orchestrator instead of single job
  docker-compose.prod.yml
Due: none

docs: add PRD for microservice-template-foundation
  docs/prd/features/microservice-template-foundation.md
Due: none

chore: rename master branch to main and refresh project docs
  .github/workflows/deploy-staging.yml
  .github/workflows/latest-changes.yml
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  CLAUDE.md
  README.md
  deployment.md
  docs/README.md
  docs/api/endpoints/items.md
  docs/api/endpoints/login.md
  docs/api/endpoints/users.md
  docs/api/endpoints/utils.md
  docs/api/overview.md
  docs/architecture/overview.md
  docs/data/models.md
  docs/deployment/ci-pipeline.md
  docs/deployment/environments.md
  docs/getting-started/contributing.md
  docs/getting-started/development.md
  docs/getting-started/setup.md
  docs/prd/features/microservice-template-foundation.md
  docs/runbooks/incidents.md
  docs/testing/strategy.md
  docs/testing/test-registry.md
Due: none

🔧 Add FastAPI VS Code extension to recommended extensions
  .vscode/extensions.json
Due: none

🔧 Add FastAPI VS Code extension to recommended extensions (#2206)
  .vscode/extensions.json
Due: none

adjust the frontend, refactored the backend service to query basic metrics for brand
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/dashboard/BrandImpression.tsx
  frontend/src/components/app/dashboard/components/AIReferenceSourceTable.tsx
  frontend/src/components/app/dashboard/components/CustomerReviewTable.tsx
  frontend/src/components/app/dashboard/components/DashboardPageLayout.tsx
  frontend/src/components/app/dashboard/components/OverviewChart.tsx
  frontend/src/components/app/dashboard/components/RankingChart.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(core): rewrite config, error handlers, and shared models [AYG-65] (#1)
  .env
  .gitignore
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/auth.py
  backend/app/models/common.py
  backend/tests/conftest.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_config.py
  backend/tests/unit/test_errors.py
  backend/tests/unit/test_models.py
  docs/api/endpoints/items.md
  docs/api/endpoints/login.md
  docs/api/endpoints/users.md
  docs/api/overview.md
  docs/architecture/decisions/0001-unified-error-handling-framework.md
  docs/architecture/decisions/0002-shared-pydantic-models-package.md
  docs/architecture/overview.md
  docs/data/models.md
  docs/deployment/environments.md
  docs/getting-started/setup.md
  docs/testing/test-registry.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(core): add structured logging and request pipeline middleware [AYG-66] (#2)
  backend/app/core/logging.py
  backend/app/core/middleware.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/unit/test_logging.py
  backend/tests/unit/test_middleware.py
  docs/architecture/decisions/0003-structlog-and-request-pipeline-middleware.md
  docs/architecture/overview.md
  docs/deployment/environments.md
  docs/getting-started/setup.md
  docs/testing/test-registry.md
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(core): add Supabase client, Clerk auth, and HTTP client with typed deps [AYG-67]
  backend/app/api/deps.py
  backend/app/core/auth.py
  backend/app/core/http_client.py
  backend/app/core/supabase.py
  backend/app/main.py
  backend/app/models/auth.py
  backend/pyproject.toml
  backend/tests/unit/test_auth.py
  backend/tests/unit/test_http_client.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_supabase.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(core): add Supabase client, Clerk auth, and HTTP client with typed deps [AYG-67] (#3)
  backend/app/api/deps.py
  backend/app/core/auth.py
  backend/app/core/http_client.py
  backend/app/core/supabase.py
  backend/app/main.py
  backend/app/models/auth.py
  backend/pyproject.toml
  backend/tests/unit/test_auth.py
  backend/tests/unit/test_http_client.py
  backend/tests/unit/test_models.py
  backend/tests/unit/test_supabase.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(api): add operational endpoints health/readiness/version [AYG-68] (#4)
  backend/app/api/routes/health.py
  backend/app/main.py
  backend/tests/integration/__init__.py
  backend/tests/integration/test_health.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

docs(api): add health endpoints documentation and update test registry [skip ci] (#5)
  docs/api/endpoints/health.md
  docs/api/overview.md
  docs/testing/test-registry.md
Due: none

feat(entity): add Entity models, service layer, and database migration [AYG-69]
  backend/app/models/__init__.py
  backend/app/models/entity.py
  backend/app/services/__init__.py
  backend/app/services/entity_service.py
  backend/tests/unit/test_entity_models.py
  backend/tests/unit/test_entity_service.py
  supabase/config.toml
  supabase/migrations/20260227000000_create_entities.sql
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(entity): add Entity models, service layer, and database migration [AYG-69] (#6)
  backend/app/models/__init__.py
  backend/app/models/entity.py
  backend/app/services/__init__.py
  backend/app/services/entity_service.py
  backend/tests/unit/test_entity_models.py
  backend/tests/unit/test_entity_service.py
  docs/api/endpoints/entities.md
  docs/api/overview.md
  docs/architecture/decisions/0004-supabase-service-layer-pattern.md
  docs/architecture/overview.md
  docs/data/models.md
  docs/deployment/environments.md
  docs/getting-started/development.md
  docs/testing/test-registry.md
  supabase/config.toml
  supabase/migrations/20260227000000_create_entities.sql
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(api): add Entity CRUD REST endpoints with auth and pagination [AYG-70]
  backend/app/api/main.py
  backend/app/api/routes/entities.py
  backend/tests/integration/test_entities.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(api): add Entity CRUD REST endpoints with auth and pagination [AYG-70] (#7)
  backend/app/api/main.py
  backend/app/api/routes/entities.py
  backend/tests/integration/test_entities.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

docs(api): update AYG-70 entity docs after merge (#8)
  docs/api/endpoints/entities.md
  docs/api/overview.md
  docs/testing/test-registry.md
Due: none

feat(api): wire app assembly with lifespan, Sentry, and error tests [AYG-71]
  backend/app/api/main.py
  backend/app/main.py
  backend/tests/conftest.py
  backend/tests/integration/test_error_responses.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(api): wire app assembly with lifespan, Sentry, and error tests [AYG-71] (#9)
  backend/app/api/main.py
  backend/app/main.py
  backend/tests/conftest.py
  backend/tests/integration/test_error_responses.py
  backend/tests/unit/test_lifespan.py
  docs/api/endpoints/items.md
  docs/api/endpoints/login.md
  docs/api/endpoints/users.md
  docs/api/overview.md
  docs/architecture/decisions/0001-unified-error-handling-framework.md
  docs/architecture/decisions/0002-shared-pydantic-models-package.md
  docs/architecture/decisions/0004-supabase-service-layer-pattern.md
  docs/architecture/overview.md
  docs/data/models.md
  docs/deployment/ci-pipeline.md
  docs/deployment/environments.md
  docs/getting-started/setup.md
  docs/runbooks/incidents.md
  docs/testing/test-registry.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix(ci): correct CI workflow paths, build context, and branch gate
  .dockerignore
  .github/workflows/ci.yml
Due: none

feat(deploy): add GHCR deployment workflows with image-based promotion [AYG-73]
  .env.example
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  docs/deployment/ci-pipeline.md
  docs/deployment/environments.md
Due: none

feat(deploy): GHCR deployment workflows with image-based promotion [AYG-73] (#11)
  .env.example
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  docs/deployment/ci-pipeline.md
  docs/deployment/environments.md
  docs/runbooks/incidents.md
Due: none

docs(gateway): add gateway-ready conventions, service communication docs, and reference compose [AYG-74]
  README.md
  compose.gateway.yml
Due: none

formalized brand impression and brand competitive analysis page and backend service
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/dashboard/CompetitiveAnalysis.tsx
  frontend/src/components/app/dashboard/components/AIReferenceSourceTable.tsx
  frontend/src/components/app/dashboard/components/CompetitorGapTrendChart.tsx
  frontend/src/components/app/dashboard/components/CompetitorRankingDetailChart.tsx
  frontend/src/components/app/dashboard/components/OverviewChart.tsx
  frontend/src/components/app/dashboard/components/RankingChart.tsx
  frontend/src/components/app/dashboard/components/ReferenceSourceComparisonTable.tsx
  frontend/src/components/app/dashboard/components/SentimentComparisonTable.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
