Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

test: fix flaky assertion in naive datetime timezone test
  backend/tests/api/routes/test_billing.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: Pro plan CTA routes to Stripe trial checkout via /app/onboarding
  frontend/src/components/landing/PricingSection.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app.onboarding.tsx
Due: local-biome-check

fix: use forceRedirectUrl for Pro CTA and fix retry logic in onboarding
  frontend/src/components/landing/PricingSection.tsx
  frontend/src/routes/app.onboarding.tsx
Due: local-biome-check

front end change for report generation
  frontend/src/components/app/SettingsPage.tsx
  frontend/src/components/app/WeeklyReportSubscriptionToggle.tsx
  frontend/src/components/landing/FeatureGridSection.tsx
  frontend/src/components/landing/FinalCTASection.tsx
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/landing/IntegrationsSection.tsx
  frontend/src/components/landing/LandingPage.tsx
  frontend/src/components/landing/ProductSection.tsx
  frontend/src/components/landing/SecuritySection.tsx
  frontend/src/index.css
Due: local-biome-check

change how to deploy and pick up the environment variables
  .github/workflows/deploy.yml
  backend/.env.prod
  docker-compose.prod.yml
  frontend/Dockerfile
Due: local-biome-check, generate-frontend-sdk

fix: disable SSL for asyncpg PostgreSQL connection
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: URL-encode password in database_url to handle special characters
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: use 172.17.0.1 instead of host.docker.internal for PG_HOST
  .github/workflows/deploy.yml
Due: none

feat: switch Stripe Checkout to embedded mode
  .github/workflows/deploy.yml
  backend/app/api/routes/billing.py
  docker-compose.prod.yml
  frontend/.env
  frontend/Dockerfile
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/clients/billing.ts
  frontend/src/components/app/PricingPage.tsx
  frontend/src/routes/app.onboarding.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add resume upload with auto-fill for PJ registration form
  backend/app/api/routes/companies.py
  backend/app/models.py
  backend/app/resume_parser.py
  backend/pyproject.toml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Companies/ResumeConfirmationModal.tsx
  frontend/src/components/Companies/ResumeUpload.tsx
  frontend/src/routes/_layout/companies.tsx
  uv.lock
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: show embedded checkout before profile-setup for Pro signups
  frontend/src/routes/app.onboarding.tsx
  frontend/src/routes/app.tsx
Due: local-biome-check

feat: disable sidebar nav during onboarding checkout
  frontend/src/components/app/AppLayout.tsx
Due: local-biome-check

add CI/CD pipeline
  .env
  .github/workflows/main.yml
  ERROR
  [frontend
  docker-compose.yml
  old-docker.yml
Due: none

📝 Add clear error message for missing route tags in `app/main.py`.
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: migration to add blog_posts table
  backend/app/alembic/env.py
  backend/app/alembic/versions/1f146d860989_add_blog_posts_table.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: remove redundant slug index from migration and improve ssl param stripping in env.py
  backend/app/alembic/env.py
  backend/app/alembic/versions/1f146d860989_add_blog_posts_table.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add blog API routes with public read and admin CRUD endpoints
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/blog.py
  backend/app/models/blog.py
  backend/tests/api/routes/test_blog.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: remove unused import, use exclude_unset in update, clean test pattern
  backend/app/api/routes/blog.py
  backend/tests/api/routes/test_blog.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add seed script for GEO blog post
  backend/scripts/seed_blog.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: add path validation and error handling to seed_blog.py
  backend/scripts/seed_blog.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add blog API client and marked dependency
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/clients/blog.ts
Due: local-biome-check

feat: add public blog list and post pages
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogLayout.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/BlogPostPage.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/blog.$slug.tsx
  frontend/src/routes/blog.index.tsx
Due: local-biome-check

fix: improve type safety, dynamic year, error state in public blog pages
  frontend/src/components/blog/BlogLayout.tsx
  frontend/src/components/blog/BlogPostPage.tsx
  frontend/src/routes/blog.index.tsx
Due: local-biome-check

feat: add admin blog CMS pages
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app.admin.blog.$id.edit.tsx
  frontend/src/routes/app.admin.blog.new.tsx
  frontend/src/routes/app.admin.blog.tsx
Due: local-biome-check

feat: add Blog links to header/footer and Blog Admin to super user sidebar
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/Header.tsx
Due: local-biome-check

fix: validate slug uniqueness on blog post update
  backend/app/api/routes/blog.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: gitignore .superpowers brainstorm directory
  frontend/.gitignore
Due: local-biome-check

feat: implement PJ invite flow with email token-based registration
  backend/app/alembic/versions/b2c3d4e5f6g7_add_company_invite.py
  backend/app/api/main.py
  backend/app/api/routes/invites.py
  backend/app/core/config.py
  backend/app/crud.py
  backend/app/email-templates/build/pj_invite.html
  backend/app/models.py
  backend/app/utils.py
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/pj-registration.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: remove unused useNavigate import from pj-registration
  frontend/src/routes/pj-registration.tsx
Due: local-biome-check

fix: address Devin Review bugs - razao_social in invite, complete_registration guard, VITE_API_URL trailing slash
  backend/app/api/routes/invites.py
  backend/app/crud.py
  backend/app/models.py
  frontend/src/client/types.gen.ts
  frontend/src/main.tsx
  frontend/src/routes/_layout/companies.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: add SSL context for production DB connections (skip cert verify for self-signed)
  backend/app/core/db.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(migration): add model column to brand_prompts_running, fix PK
  backend/app/alembic/versions/b5c6d7e8f9a0_add_model_to_brand_prompts_running.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

ensure that a ty warning creates an error
  pyproject.toml
Due: none

update to ty >= 0.0.25
  backend/pyproject.toml
  pyproject.toml
  uv.lock
Due: generate-frontend-sdk

try reverting the download version change
  .github/workflows/playwright.yml
Due: none

cleanup
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models.py
  backend/app/utils.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: implement user administration with role-based access and audit logging
  backend/app/alembic/versions/c3d4e5f6g7h8_add_user_role_and_audit_log.py
  backend/app/api/deps.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/routes/_layout/admin.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: address Devin Review - privilege escalation guards, read_user_by_id role check, AuditLogPublic type
  backend/app/api/routes/users.py
  frontend/src/client/types.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: remove password fields from Edit User dialog
  frontend/src/components/Admin/EditUser.tsx
Due: local-biome-check

Add comprehensive instructions for database migrations, frontend development, and testing
  .DS_Store
  .env
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/instructions/backend-python.instructions.md
  .github/instructions/database-migrations.instructions.md
  .github/instructions/frontend-react.instructions.md
  .github/instructions/testing.instructions.md
  frontend/src/routeTree.gen.ts
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
