Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

➕ Move prek to top level dependencies (#2353)
  backend/pyproject.toml
  pyproject.toml
  uv.lock
Due: generate-frontend-sdk

♻️ Add library-skills for FastAPI and SQLModel
  .agents/skills/fastapi
  .agents/skills/library-skills/.library-skills.json
  .agents/skills/library-skills/SKILL.md
  .agents/skills/sqlmodel
  .claude/skills/fastapi
  .claude/skills/library-skills/.library-skills.json
  .claude/skills/library-skills/SKILL.md
  .claude/skills/sqlmodel
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

♻️ Add library-skills for FastAPI and SQLModel (#2354)
  .agents/skills/fastapi
  .agents/skills/library-skills/.library-skills.json
  .agents/skills/library-skills/SKILL.md
  .agents/skills/sqlmodel
  .claude/skills/fastapi
  .claude/skills/library-skills/.library-skills.json
  .claude/skills/library-skills/SKILL.md
  .claude/skills/sqlmodel
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

♻️ Refactor models to improve types
  backend/app/models.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Upgrade FastAPI version
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

♻️ Refactor models to improve types (#2356)
  backend/app/models.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Upgrade FastAPI version (#2357)
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

Improve README screenshot alt text
  README.md
Due: none

🔧 Use FastAPI entrypoint
  backend/Dockerfile
  backend/pyproject.toml
Due: generate-frontend-sdk

🔧 Use FastAPI entrypoint (#2360)
  backend/Dockerfile
  backend/pyproject.toml
Due: generate-frontend-sdk

👷 Add GH workflow to bump pre-commit hook versions
  .github/dependabot.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

🔧 Set Dependabot schedule interval to "monthly"
  .github/dependabot.yml
Due: none

♻️ Serve frontend from FastAPI
  .env
  .github/workflows/test-docker-compose.yml
  .gitignore
  README.md
  backend/app/main.py
  backend/pyproject.toml
  compose.yml
  deployment.md
  development.md
  frontend/Dockerfile
  frontend/Dockerfile.playwright
  frontend/README.md
  frontend/nginx-backend-not-found.conf
  frontend/nginx.conf
  frontend/vite.config.ts
  pyproject.toml
  uv.lock
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Refactor frontend to be served by FastAPI
  frontend/playwright.config.ts
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/vite-env.d.ts
  frontend/tests/reset-password.spec.ts
Due: local-biome-check

feat: article likes with profile page (#4)
  CHANGES.md
  backend/app/alembic/versions/d4e5f6a7b8c9_add_article_like_table.py
  backend/app/api/deps_agentique.py
  backend/app/api/main.py
  backend/app/api/routes/articles.py
  backend/app/api/routes/likes.py
  backend/app/models_agentique.py
  backend/pyproject.toml
  backend/tests/api/routes/test_articles.py
  backend/tests/api/routes/test_likes.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
  backend/tests/utils/article.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Articles/ArticleRow.tsx
  frontend/src/components/Articles/ArticlesList.tsx
  frontend/src/components/Articles/LikeButton.tsx
  frontend/src/components/Sidebar/Filters.tsx
  frontend/src/components/Sidebar/User.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/profile.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/tests/likes.spec.ts
  frontend/tests/login.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/user-settings.spec.ts
  frontend/tests/utils/user.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: liked changes order
  backend/app/api/routes/articles.py
  backend/app/api/routes/likes.py
  backend/tests/api/routes/test_articles.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Change favicon background color from orange to black (#5)
  frontend/public/assets/images/favicon.png
Due: local-biome-check

fix: send password recovery email via Resend (#7)
  CHANGES.md
  backend/app/core/config.py
  backend/app/utils.py
  backend/tests/api/routes/test_login.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add health endpoint
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Update latest-changes to 0.6.1 (#2367)
  .github/workflows/latest-changes.yml
Due: none

Fix typing warning and remove "type: ignore" comment
  backend/app/utils.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Update issue-manager to 0.8.1 (#2368)
  .github/workflows/issue-manager.yml
Due: none

Keep password recovery generic when email delivery is unavailable
  backend/app/api/routes/login.py
  backend/tests/api/routes/test_login.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: stats endpoint 404 in footer due to missing /api/v1 prefix (#6)
  CHANGES.md
  frontend/src/components/Common/Footer.tsx
Due: local-biome-check

📝 Improve README screenshot alt text (#2359)
  README.md
Due: none

⬆️ Update Playwright to version 1.61.1
  bun.lock
  frontend/package.json
Due: local-biome-check

👷 Update latest-changes
  .github/workflows/latest-changes.yml
Due: none

👷 Update latest-changes (#2375)
  .github/workflows/latest-changes.yml
Due: none

♻️ Fix conflicts
  bun.lock
  frontend/Dockerfile.playwright
  frontend/package.json
Due: local-biome-check

🔧 Set Dependabot schedule interval to "monthly" (#2364)
  .github/dependabot.yml
Due: none

fix: change default filter and order
  frontend/src/components/Sidebar/Filters.tsx
  frontend/src/context/filters.tsx
Due: local-biome-check

fix: python 3.14 issue in deps
  backend/app/api/deps.py
  backend/app/api/deps_agentique.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: handle currentUser errors
  CHANGES.md
  CLAUDE.md
  backend/app/api/routes/login.py
  frontend/src/main.tsx
  frontend/tests/login.spec.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
