Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, alembic-check, alembic-migration-safety

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

alembic-check:
  name: alembic check (detect migration drift)
  entry: bash -c 'cd backend && uv run alembic check'
  language: system
  pass_filenames: false

alembic-migration-safety:
  name: alembic migration safety (prevent data loss)
  entry: python backend/scripts/check_migration_safety.py
  language: system
  pass_filenames: false

Trigger mypy run
  backend/app/empty.py
Due: none

Address mypy warnings
  backend/app/alembic/env.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
Due: none

Revert "Trigger mypy run"
  backend/app/empty.py
Due: none

Remove `types: [python]` from mypy hook in `pre-commit.yaml`
  .pre-commit-config.yaml
Due: none

fix the issue for user login in backend
  backend/app/api/routes/auth.py
Due: none

👷 Run mypy by pre-commit (#2169)
  .pre-commit-config.yaml
  backend/app/alembic/env.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
Due: none

init
  .claude/settings.json
  .env
  .gitignore
  README.md
  SPEC.md
  backend/app/alembic/versions/a1b2c3d4e5f6_add_movie_watchlist_rating_models.py
  backend/app/api/main.py
  backend/app/api/routes/movies.py
  backend/app/api/routes/ratings.py
  backend/app/api/routes/watchlist.py
  backend/app/core/config.py
  backend/app/models.py
  backend/app/services/__init__.py
  backend/app/services/omdb.py
  frontend/package.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Movies/MovieCard.tsx
  frontend/src/components/Movies/MoviePoster.tsx
  frontend/src/components/Ratings/StarRating.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/index.css
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/movies.$imdbId.tsx
  frontend/src/routes/_layout/movies.tsx
  frontend/src/routes/_layout/ratings.tsx
  frontend/src/routes/_layout/watchlist.tsx
  package-lock.json
Due: local-biome-check, alembic-check, alembic-migration-safety

i
  backend/app/alembic/versions/a1b2c3d4e5f6_add_movie_watchlist_rating_models.py
Due: alembic-check, alembic-migration-safety

✨ Refactor environment configuration and enhance user update tests
  .cursor/commands/speckit.analyze.md
  .cursor/commands/speckit.checklist.md
  .cursor/commands/speckit.clarify.md
  .cursor/commands/speckit.constitution.md
  .cursor/commands/speckit.implement.md
  .cursor/commands/speckit.plan.md
  .cursor/commands/speckit.specify.md
  .cursor/commands/speckit.tasks.md
  .cursor/commands/speckit.taskstoissues.md
  .cursor/rules/specify-rules.mdc
  .env
  .specify/memory/constitution.md
  .specify/scripts/powershell/check-prerequisites.ps1
  .specify/scripts/powershell/common.ps1
  .specify/scripts/powershell/create-new-feature.ps1
  .specify/scripts/powershell/setup-plan.ps1
  .specify/scripts/powershell/update-agent-context.ps1
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  backend/tests/api/routes/test_users.py
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/tests/user-settings.spec.ts
  specs/001-user-profile-management/checklists/requirements.md
  specs/001-user-profile-management/contracts/get-user-profile.md
  specs/001-user-profile-management/contracts/update-user-profile.md
  specs/001-user-profile-management/data-model.md
  specs/001-user-profile-management/plan.md
  specs/001-user-profile-management/quickstart.md
  specs/001-user-profile-management/research.md
  specs/001-user-profile-management/spec.md
  specs/001-user-profile-management/tasks.md
Due: local-biome-check

base-starter
  .env
  backend/Dockerfile
  backend/app/core/config.py
  compose.override.yml
  compose.traefik.yml
  development.md
  frontend/README.md
  frontend/playwright.config.ts
  frontend/tests/reset-password.spec.ts
  frontend/vite.config.ts
Due: local-biome-check

user avatar + api
  backend/app/alembic/versions/a1b2c3d4e5f6_add_avatar_url_to_user.py
  backend/app/api/routes/users.py
  backend/app/main.py
  backend/app/models.py
  backend/app/static/uploads/5eaaec5c-84d0-480a-958c-d786840b12b8_c2917da5-1ca2-48bb-b8e9-5bb2ee73f909.JPG
  compose.override.yml
  compose.yml
  frontend/src/client/types.gen.ts
  frontend/src/components/UserSettings/UserInformation.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

temp store before refactor database
  backend/app/api/routes/brand_metrics.py
  backend/app/config/prompts/system_prompts.py
  backend/app/core/db.py
  backend/app/models/brand_ranking.py
  backend/app/models/brand_score.py
  backend/app/models/brand_visibility.py
  backend/app/models/shared_model.py
  backend/app/utils/brand_scores.py
  backend/app/utils/data_aggregation.py
  backend/app/utils/date_range.py
  backend/requirements.txt
  frontend/components.json.old
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/dashboard/Dashboard.tsx
  frontend/src/components/app/dashboard/ExampleDashboard.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScore.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScoreGaugeView.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScoreHistoricalView.tsx
  frontend/src/components/app/dashboard/components/BrandAwarnessScoreCurrentScore.tsx
  frontend/src/components/landing/Footer.tsx
  frontend/src/components/landing/Header.tsx
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/landing/ProductSection.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/routes/app.dashboard.dashboard.tsx
  frontend/src/routes/app.dashboard.exampledashboard.tsx
  frontend/src/routes/app.dashboard.tsx
  frontend/tsconfig.json
Due: local-biome-check

⬆ Bump @playwright/test from 1.58.0 to 1.58.2
  bun.lock
  frontend/package.json
Due: local-biome-check

change to use common shared package for database model
  backend/app/api/routes/auth.py
  backend/app/api/routes/brand_metrics.py
  backend/app/config/base.py
  backend/app/core/db.py
  backend/pyproject.toml
  backend/requirements.txt
Due: none

Bump biome schema version from 2.3.12 to 2.3.14
  frontend/biome.json
Due: local-biome-check

⬆️ Bump biome schema version from 2.3.12 to 2.3.14 (#2178)
  frontend/biome.json
Due: local-biome-check

♻️ Update meta tiles
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

♻️ Update meta titles (#2179)
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

add new frontend page to show projects and add new project
  backend/app/api/main.py
  backend/app/api/routes/projects.py
  backend/app/models/projects.py
  frontend/src/clients/projects.ts
  frontend/src/components/app/ProjectSetupForm.tsx
  frontend/src/components/app/Projects.tsx
Due: local-biome-check

added project user relationship and when user create a new project, add logic in the backend service to store the relationship in database
  backend/app/api/routes/projects.py
  backend/app/models/projects.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/clients/projects.ts
  frontend/src/components/app/ProjectEditForm.tsx
  frontend/src/components/app/Projects.tsx
Due: local-biome-check

⬆️ Update Sentry and FastAPI
  backend/pyproject.toml
  uv.lock
Due: none

⬆️ Upgrade Sentry and FastAPI (#2181)
  backend/pyproject.toml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  uv.lock
Due: local-biome-check

🔧 Use uv default build system
  backend/pyproject.toml
Due: none

Need session.commit() so that superuser is created
  backend/app/core/db.py
Due: none

♻️ Migrate to `DATABASE_URL` instead of separate variables
  .env
  backend/app/alembic/env.py
  backend/app/core/config.py
  backend/app/core/db.py
  compose.yml
Due: none

refactored dashboard to add brand, visibility and ranking dashboard tab
  backend/app/api/routes/dashboard.py
  backend/app/api/routes/projects.py
  backend/app/models/dashboard.py
  frontend/src/clients/dashboard.ts
  frontend/src/clients/projects.ts
  frontend/src/components/app/Projects.tsx
  frontend/src/components/app/dashboard/Dashboard.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScore.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScoreGaugeView.tsx
  frontend/src/components/app/dashboard/components/BrandAwarnessScoreCurrentScore.tsx
  frontend/src/components/app/dashboard/components/DetailMetricsView.tsx
Due: local-biome-check

refactor dashbaord, sidebar and user management
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/ProjectEditForm.tsx
  frontend/src/components/app/Projects.tsx
  frontend/src/components/app/UserProfile.tsx
  frontend/src/components/app/dashboard/Dashboard.tsx
  frontend/src/components/app/dashboard/components/CompetitorMetricsView.tsx
  frontend/src/components/landing/AuthDialog.tsx
  frontend/src/routes/app.profile-setup.tsx
  frontend/src/routes/app.users.tsx
Due: local-biome-check

Update README.md
  README.md
Due: none

Added GitHub Action workflow
  .github/workflows/main.yml
Due: none

Added GitHub Action file correctly
  .github/workflows/main.yml
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  alembic-check: any of: ^backend/app/(models\.py|alembic/versions/.*\.py)$
  alembic-migration-safety: any of: ^backend/app/alembic/versions/.*\.py$
