Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

👷 Improve workflows for private repos (#2394)
  .github/workflows/add-to-project.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .github/workflows/zizmor.yml
Due: none

Extract shared prompt registry and generation core.
  backend/app/core/ai/openai.py
  backend/app/core/ai/prompts.py
  backend/tests/core/test_openai.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Sanitize question-generation error messages.
  backend/app/core/ai/openai.py
  backend/tests/core/test_openai.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Retarget prompt variants to difficulty and distractors.
  backend/app/core/ai/prompts.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add minimal prompt-variant evaluation runner.
  backend/scripts/evaluate.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add `frontend/playwright/.auth` to `.dockerignore`
  .dockerignore
Due: none

Nitin Commit
  backend/app/api/deps.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Bump FastAPI to 0.141.1 to resolve client generation failure
  backend/pyproject.toml
  uv.lock
Due: generate-frontend-sdk

Remove superuser data access and unused auth endpoints.
  backend/app/api/deps.py
  backend/app/api/routes/documents.py
  backend/app/api/routes/exam_attempts.py
  backend/app/api/routes/exams.py
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
  backend/app/api/routes/utils.py
  backend/app/core/db.py
  backend/app/email-templates/build/reset_password.html
  backend/app/email-templates/build/test_email.html
  backend/app/email-templates/src/reset_password.mjml
  backend/app/email-templates/src/test_email.mjml
  backend/app/models.py
  backend/app/utils.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_users.py
  backend/tests/crud/test_user.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

✨ Autogenerate frontend client
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check

Fix API tests for owner-scoped access and drop broken project workflow.
  .github/workflows/add-to-project.yml
  backend/tests/api/routes/test_documents.py
  backend/tests/api/routes/test_exam_attempts.py
  backend/tests/api/routes/test_exams.py
  backend/tests/api/routes/test_users.py
  backend/tests/utils/user.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

this is my first commit
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

add devcontainer.json config
  .devcontainer/devcontainer.json
Due: none

simplify
  .devcontainer/devcontainer.json
Due: none

🔥 Remove the old Latest Changes workflow (#2403)
  .github/workflows/latest-changes.yml
Due: none

add dev container lock
  .devcontainer/devcontainer-lock.json
Due: none

chore(uv): Enable dependabot upgrades for `uv` image tags
  backend/Dockerfile
Due: generate-frontend-sdk

🔒 Replace pre-commit PAT with PR Push (#2407)
  .github/pr-push.yml
  .github/workflows/pre-commit.yml
Due: none

👷 Use PR Push commit identity (#2409)
  .github/workflows/pre-commit.yml
Due: none

👷 Use GitHub CLI for Git authentication (#2410)
  .github/workflows/pre-commit.yml
Due: none

🔐 Use PR Submit for pull requests
  .github/pr-submit.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

🔐 Use PR Submit for pull requests (#2411)
  .github/pr-submit.yml
  .github/workflows/bump-pre-commit-hooks.yml
Due: none

♻️ Simplify Traefik deployment, make it part of the stack
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  compose.override.yml
  compose.traefik.yml
  compose.yml
  copier.yml
  deployment.md
  development.md
Due: none

♻️ Separate prod deployment into main Docker Compose file plus deploy Docker Compose
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  compose.deploy.yml
  compose.override.yml
  compose.yml
  deployment.md
  development.md
Due: none

♻️ Simplify Traefik deployment, make it part of the stack (#2412)
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  compose.deploy.yml
  compose.override.yml
  compose.traefik.yml
  compose.yml
  copier.yml
  deployment.md
  development.md
Due: none

♻️ Simplify environment configuration
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  compose.deploy.yml
  compose.yml
  deployment.md
Due: none

♻️ Simplify environment configuration (#2413)
  .env
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  compose.deploy.yml
  compose.yml
  deployment.md
Due: none

Run `biome migrate`
  frontend/biome.json
Due: local-biome-check

Silence noSvgWithoutTitle for SVG assets
  frontend/biome.json
Due: local-biome-check

Resolve `error TS5102: Option 'baseUrl' has been removed.`
  frontend/tsconfig.json
Due: local-biome-check

Pin typescript to `^6.0.3`
  bun.lock
  frontend/package.json
Due: local-biome-check

Run `bun run build`
  frontend/src/routeTree.gen.ts
Due: local-biome-check
