Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

Task 8: Added Node.js CI/CD pipeline
  .github/workflows/cicd.yml
Due: none

Task 9: Security best practices implemented
  .gitignore
Due: none

refactor dashbaord to present different score
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/Insight.tsx
  frontend/src/components/app/dashboard/BrandOverview.tsx
  frontend/src/components/app/dashboard/BrandPerformanceDetail.tsx
  frontend/src/components/app/dashboard/CompetitiveAnalysis.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScore.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScoreGaugeView.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScoreHistoricalView.tsx
  frontend/src/components/app/dashboard/components/BrandAwarnessScoreCurrentScore.tsx
  frontend/src/components/app/dashboard/components/CompetitorAwarenessChart.tsx
  frontend/src/components/app/dashboard/components/CompetitorDetailTable.tsx
  frontend/src/components/app/dashboard/components/CompetitorMetricsView.tsx
  frontend/src/components/app/dashboard/components/DashboardPageLayout.tsx
  frontend/src/components/app/dashboard/components/DetailMetricsView.tsx
  frontend/src/components/app/dashboard/components/MetricCard.tsx
  frontend/src/components/app/dashboard/components/OverviewChart.tsx
  frontend/src/components/app/dashboard/components/PerformanceChart.tsx
  frontend/src/components/app/dashboard/components/PerformanceDetailTable.tsx
  frontend/src/components/app/dashboard/components/SegmentMetricsTable.tsx
  frontend/src/routes/app.dashboard.competitors.tsx
  frontend/src/routes/app.dashboard.dashboard.tsx
  frontend/src/routes/app.dashboard.overview.tsx
  frontend/src/routes/app.dashboard.performance.tsx
  frontend/src/routes/app.insight.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: Add length validation for superuser password
  copier.yml
Due: none

♻️ Squash Alembic migrations
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/alembic/versions/fe56fa70289e_add_created_at_to_user_and_item.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Remove API docs image link from README
  README.md
Due: none

feat: add Enrichr email validation to block disposable addresses on signup
  .env
  backend/app/api/routes/users.py
  backend/app/enrichr.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Use detailed fastapi.status.HTTP_xxx instead of just numbers
  backend/app/auth/dependencies.py
  backend/app/auth/router.py
  backend/app/items/router.py
  backend/app/users/router.py
  backend/app/utils/router.py
  backend/tests/auth/test_router.py
  backend/tests/items/test_router.py
  backend/tests/private/test_router.py
  backend/tests/users/test_router.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Added case insensitive email support
  backend/app/users/service.py
  backend/tests/users/test_service.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Changed Alembic's file template to use date times instead of random hashes
  backend/alembic.ini
  backend/app/alembic/versions/2023_11_24_2255-e2412789c190_initialize_models.py
  backend/app/alembic/versions/2024_06_17_1442-9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/2024_07_19_0408-d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/2024_07_31_2224-1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/2026_01_23_1550-fe56fa70289e_add_created_at_to_user_and_item.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Enabled all ruff rules instead of a small selection of rules
  backend/pyproject.toml
Due: generate-frontend-sdk

Added automatic route loading
  backend/app/constants.py
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Added automatic model loading
  backend/app/alembic/env.py
  backend/app/database.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Use a seperate database for tests
  backend/app/constants.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Remove dashboard prefix from deploy
  compose.yml
Due: none

Updated README
  README.md
Due: none

Fixed all ruff errors
  backend/app/auth/dependencies.py
  backend/app/auth/router.py
  backend/app/auth/schemas.py
  backend/app/auth/security.py
  backend/app/auth/service.py
  backend/app/backend_pre_start.py
  backend/app/config.py
  backend/app/database.py
  backend/app/items/models.py
  backend/app/items/router.py
  backend/app/items/schemas.py
  backend/app/models.py
  backend/app/private/router.py
  backend/app/tests_pre_start.py
  backend/app/users/models.py
  backend/app/users/router.py
  backend/app/users/schemas.py
  backend/app/users/service.py
  backend/app/utils/service.py
  backend/tests/auth/test_router.py
  backend/tests/items/test_router.py
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  backend/tests/users/test_router.py
  backend/tests/users/test_service.py
  backend/tests/utils/user.py
  backend/tests/utils/utils.py
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Items/DeleteItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/routeTree.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

architect
  backend/app/api/routes/items.py
  backend/app/api/routes/login.py
  backend/app/api/routes/private.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/repositories/__init__.py
  backend/app/repositories/item_repository.py
  backend/app/repositories/user_repository.py
  backend/app/services/__init__.py
  backend/app/services/auth_service.py
  backend/app/services/exceptions.py
  backend/app/services/item_service.py
  backend/app/services/user_service.py
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

first template commit success
  backend/app/alembic/versions/6f44bc66fd3f_add_template_and_generation_models.py
  backend/app/api/main.py
  backend/app/api/routes/generate.py
  backend/app/api/routes/generations.py
  backend/app/api/routes/templates.py
  backend/app/models.py
  backend/app/repositories/__init__.py
  backend/app/repositories/generation_repository.py
  backend/app/repositories/template_repository.py
  backend/app/services/__init__.py
  backend/app/services/generation_service.py
  backend/app/services/template_ai_service.py
  backend/app/services/template_service.py
  backend/app/template_utils.py
  frontend-dev.err
  frontend-dev.log
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/lib/templateMvpApi.ts
  frontend/src/lib/templateVariables.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/generate.tsx
  frontend/src/routes/_layout/history.tsx
  frontend/src/routes/_layout/template-editor.tsx
  frontend/src/routes/_layout/templates.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

add pdf download and correct editor function
  bun.lock
  frontend/package.json
  frontend/src/lib/pdf.ts
  frontend/src/routes/_layout/history.tsx
  frontend/src/routes/_layout/template-editor.tsx
Due: local-biome-check

fix: update template category and language enums to use postgresql.ENUM
  backend/app/alembic/versions/6f44bc66fd3f_add_template_and_generation_models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

replace fastapi name, create google auth, create llm feature
  .env
  backend/app/api/routes/generate.py
  backend/app/api/routes/login.py
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/main.py
  backend/app/models.py
  backend/app/services/auth_service.py
  backend/app/services/template_ai_service.py
  frontend/.env
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/lib/googleIdentity.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/generate.tsx
  frontend/src/routes/_layout/history.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/_layout/template-editor.tsx
  frontend/src/routes/_layout/templates.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
  frontend/src/vite-env.d.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

remove .env
  .env
  frontend/.env
Due: local-biome-check

remove env gitignore
  .gitignore
  frontend/src/routes/__root.tsx
  frontend/src/vite-env.d.ts
Due: local-biome-check

env example
  .env.example
  frontend/.env.example
Due: local-biome-check

add docker config
  .github/workflows/deploy.yml
  backend/.env.prod
  backend/Dockerfile
  backend/app/config/prod.py
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/src/routes/app.tsx
  nginx.prod.conf
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Fix Docker build: replace uv export with pre-generated requirements.prod.txt
  backend/Dockerfile
  backend/requirements.prod.txt
Due: generate-frontend-sdk

Use deployer user instead of root for SSH deployment
  .github/workflows/deploy.yml
Due: none

Fix all frontend TypeScript build errors
  frontend/.gitignore
  frontend/src/client/index.ts
  frontend/src/components/app/dashboard/components/DashboardPageLayout.tsx
  frontend/src/components/app/dashboard/components/PerformanceDetailTable.tsx
  frontend/src/components/ui/password-input.tsx
  frontend/src/hooks/useMobile.ts
  frontend/src/routeTree.gen.ts
Due: local-biome-check

Fix nginx: use Docker DNS resolver to avoid startup host-not-found error
  nginx.prod.conf
Due: none

Make frontend mobile-first responsive
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/Insight.tsx
  frontend/src/components/app/dashboard/Dashboard.tsx
  frontend/src/components/app/dashboard/components/BrandAwarenessScore.tsx
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/landing/ProductSection.tsx
Due: local-biome-check

added secrets
  .github/workflows/deploy.yml
Due: none

add application name for db connection
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Remove unused template CI workflows
  .github/workflows/add-to-project.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/generate-client.yml
  .github/workflows/issue-manager.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

Remove search bar from top bar, show user name and avatar on the right
  frontend/src/components/app/AppLayout.tsx
Due: local-biome-check

Fix Ofelia cron schedule: use 6-field format 0 0 22 * * * for daily at 22:00 UTC
  docker-compose.prod.yml
Due: none

Add --full-run flag to scheduled job so it queries BrandPromptTable
  docker-compose.prod.yml
Due: none

Fix 502: remove application_name from asyncpg connection URL
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
