Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

logo update
  frontend/public/assets/images/forge_ai_logo.jpg
  frontend/public/assets/images/forge_ai_logo.png
  frontend/public/assets/images/text-file-icon
  frontend/src/components/Common/Logo.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/routes/_layout.tsx
  img/forge_ai_logo.jpg
Due: local-biome-check

ci: skip add-to-project workflow on forks
  .github/workflows/add-to-project.yml
Due: none

prepare .env for CI
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

remove ssh ip
  .env.example
Due: none

test coverage reduce
  .github/workflows/test-backend.yml
Due: none

smokeshow
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  openapi.json
Due: none

new generate page
  .dockerignore
  frontend/src/routes/_layout/generate.tsx
Due: local-biome-check

new env variable for staging and production
  .env.example
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

little fix
  frontend/src/routes/_layout/generate.tsx
Due: local-biome-check

marketing page added
  compose.yml
  marketing/Dockerfile
  marketing/index.html
  marketing/nginx.conf
  marketing/robots.txt
  marketing/sitemap.xml
Due: none

marketing page
  frontend/public/assets/images/favicon.ico
  frontend/public/assets/images/favicon.png
  marketing/Dockerfile
  marketing/favicon.png
  marketing/index.html
Due: local-biome-check

sign up button correct
  marketing/index.html
Due: none

added .env to .gitignore
  .gitignore
Due: none

added test.py to say hello
  docker-compose.yml
  test.py
Due: local-ruff-check, local-ruff-format

feat: migration to create user_subscriptions table; fix alembic env to use psycopg driver
  backend/app/alembic/env.py
  backend/app/alembic/versions/f1fa28918ba4_create_user_subscriptions_table.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: create free_trial subscription row on email/password signup; extract util to app/utils/subscription.py
  backend/app/api/routes/auth.py
  backend/app/utils/subscription.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: create free_trial subscription on Clerk auto-create path; idempotent check for existing users
  backend/app/api/deps.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: backfill company_id on subscription row at profile setup
  backend/app/api/routes/profile.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: expose subscription tier/status/trial_expires_at in GET /profile/me with lazy expiry check
  backend/app/api/routes/profile.py
  backend/app/models/profile.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add Stripe webhook endpoint for subscription tier upgrades; add stripe SDK and config keys
  backend/.env.development
  backend/app/api/main.py
  backend/app/api/routes/webhooks.py
  backend/app/config/base.py
  backend/pyproject.toml
  backend/uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add personal email domain blocklist utility for tier 2/3 upgrade validation
  backend/app/utils/email_validation.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: regenerate OpenAPI TypeScript client with SubscriptionResponse types
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check

feat: add entitlements config with tier quotas and feature flags
  frontend/src/lib/entitlements.ts
Due: local-biome-check

feat: add SubscriptionContext and useEntitlement hook; load subscription in AppGuard
  frontend/src/contexts/SubscriptionContext.tsx
  frontend/src/hooks/useEntitlement.ts
  frontend/src/routes/app.tsx
Due: local-biome-check

feat: add FeatureGate and QuotaGate components for entitlement enforcement
  frontend/src/components/app/FeatureGate.tsx
  frontend/src/components/app/QuotaGate.tsx
Due: local-biome-check

feat: add trial expiry banner and locked insight nav items based on tier
  frontend/src/components/app/AppLayout.tsx
Due: local-biome-check

feat: gate CompetitiveAnalysis full content behind competitiveAnalysisFull feature
  frontend/src/components/app/dashboard/CompetitiveAnalysis.tsx
Due: local-biome-check

feat: wrap project/segment create buttons with QuotaGate
  frontend/src/components/app/ProjectEditForm.tsx
  frontend/src/components/app/ProjectSetupForm.tsx
  frontend/src/components/app/Projects.tsx
Due: local-biome-check

feat: add is_super_user to subscription — migration + API response
  backend/app/alembic/versions/a3c72f81b9d0_add_is_super_user_to_user_subscriptions.py
  backend/app/models/profile.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: super user bypasses all entitlement checks on frontend
  frontend/src/hooks/useEntitlement.ts
  frontend/src/lib/entitlements.ts
Due: local-biome-check

fix: resolve TypeScript build errors blocking Docker image build
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/dashboard/BrandOverview.tsx
Due: local-biome-check

fix: add stripe to requirements.prod.txt for Docker production image
  backend/requirements.prod.txt
Due: generate-frontend-sdk

feat: add migration for trailing window metric columns
  backend/app/alembic/versions/b4d91e2f7c3a_add_trailing_window_metrics.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add Market Dynamic insight page with competitive visualizations
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/insight/MarketDynamic.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app.insight.market-dynamic.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

feat: extend risk-history API with 4 new signal fields
  backend/app/api/routes/dashboard.py
  backend/app/models/dashboard.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: replace 4 risk pages with consolidated Risk Intelligence page
  frontend/src/clients/dashboard.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/Insight.tsx
  frontend/src/components/app/insight/CompetitiveRisk.tsx
  frontend/src/components/app/insight/GrowthRisk.tsx
  frontend/src/components/app/insight/RankingPositionRisk.tsx
  frontend/src/components/app/insight/RiskIntelligence.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app.insight.brand-risk.tsx
  frontend/src/routes/app.insight.competitive-risk.tsx
  frontend/src/routes/app.insight.growth-risk.tsx
  frontend/src/routes/app.insight.ranking-risk.tsx
  frontend/src/routes/app.insight.risk-intelligence.tsx
Due: local-biome-check

Add spec-kit workflow commands and documentation
  .claude/commands/checklist.md
  .claude/commands/consolidate-spec.md
  .claude/commands/context.md
  .claude/commands/deploy-to-stage.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/start.md
  .claude/commands/status.md
  .claude/commands/submit.md
  .claude/commands/tasks.md
  .claude/settings.json
  docs/README-kit.md
  docs/constitution.md
  docs/dev-guide.md
  docs/onboarding-pm.docx
  docs/onboarding.md
  scripts/statusline.sh
Due: none

add ty to precommit
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/scripts/lint.sh
  uv.lock
Due: generate-frontend-sdk
