Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, alembic-check, alembic-migration-safety

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

alembic-check:
  name: alembic check (detect migration drift)
  entry: bash -c 'cd backend && uv run alembic check'
  language: system
  pass_filenames: false

alembic-migration-safety:
  name: alembic migration safety (prevent data loss)
  entry: python backend/scripts/check_migration_safety.py
  language: system
  pass_filenames: false

Split login into client and business, and added home page
  backend/app/alembic/versions/2025110201_add_user_type_field.py
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout.tsx
  frontend/src/routes/_layout/dashboard.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
  frontend/src/routes/client-login.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/signup.tsx
  frontend/src/routes/team-login.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

Added ability to create orgs, authorize team members, invite clients to projects.
  backend/app/alembic/versions/2025110301_add_project_access_table.py
  backend/app/alembic/versions/2025110302_add_organization_invitation_table.py
  backend/app/api/main.py
  backend/app/api/routes/galleries.py
  backend/app/api/routes/invitations.py
  backend/app/api/routes/organizations.py
  backend/app/api/routes/project_access.py
  backend/app/api/routes/projects.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/main.py
  backend/app/models.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Projects/ClientAccessList.tsx
  frontend/src/components/Projects/CreateProject.tsx
  frontend/src/components/Projects/DeleteProject.tsx
  frontend/src/components/Projects/EditProject.tsx
  frontend/src/components/Projects/InviteClient.tsx
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/dashboard.tsx
  frontend/src/routes/_layout/galleries.$galleryId.tsx
  frontend/src/routes/_layout/galleries.index.tsx
  frontend/src/routes/_layout/organization.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
  openapi.json
Due: local-biome-check, alembic-check, alembic-migration-safety

Fixed lint and typescript errors from new changes
  backend/app/api/main.py
  backend/app/api/routes/galleries.py
  backend/app/api/routes/organizations.py
  backend/app/api/routes/project_access.py
  backend/app/api/routes/projects.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/tests/api/routes/test_login.py
  backend/tests/crud/test_gallery.py
  backend/tests/crud/test_project.py
  backend/tests/crud/test_stats.py
  frontend/src/components/Projects/ClientAccessList.tsx
  frontend/src/components/Projects/InviteClient.tsx
  frontend/src/routes/_layout/galleries.$galleryId.tsx
  frontend/src/routes/_layout/galleries.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
  frontend/src/routes/reset-password.tsx
Due: local-biome-check

Changed how users are added to organizations, and now shows all other team members in an org.
  backend/app/api/main.py
  backend/app/api/routes/galleries.py
  backend/app/api/routes/invitations.py
  backend/app/api/routes/organizations.py
  backend/app/api/routes/project_access.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/tests/crud/test_gallery.py
  backend/tests/crud/test_project.py
  backend/tests/crud/test_stats.py
  frontend/src/routes/_layout/organization.tsx
Due: local-biome-check

Tweaked deployment tests to actually run with a db properly
  .github/workflows/deploy.yml
Due: none

Another fix to the deploy tests
  .github/workflows/deploy.yml
Due: none

Made more fixes for the deploy tests
  .github/workflows/deploy.yml
  backend/tests/conftest.py
Due: none

One more fix for testing email during deploy
  backend/tests/api/routes/test_login.py
Due: none

Changed how galleries are viewed and created.
  backend/app/seed_data.py
  frontend/src/routes/_layout/galleries.tsx
Due: local-biome-check

Updating instructions for backend_async
  backend_async/README.md
Due: none

🔧 Fix issue-manager config for reminder
  .github/workflows/issue-manager.yml
Due: none

🔧 Fix issue-manager config for reminder (#1972)
  .github/workflows/issue-manager.yml
Due: none

Modified how clients are added to projects, and made fixes to the client permissions.
  backend/app/alembic/versions/2025111201_add_project_invitation_table.py
  backend/app/api/main.py
  backend/app/api/routes/items.py
  backend/app/api/routes/project_access.py
  backend/app/api/routes/users.py
  backend/app/crud.py
  backend/app/models.py
  frontend/src/components/Common/ItemActionsMenu.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/DeleteItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/Pending/PendingUsers.tsx
  frontend/src/components/Projects/ClientAccessList.tsx
  frontend/src/components/Projects/InviteClient.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/dashboard.tsx
  frontend/src/routes/_layout/galleries.index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/projects.index.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

Removed tests for old removed template features
  backend/app/api/routes/project_access.py
  backend/app/api/routes/users.py
  backend/app/crud.py
  backend/tests/api/routes/test_items.py
  backend/tests/conftest.py
  backend/tests/utils/item.py
Due: none

Fixed small linting errors
  backend/app/api/routes/project_access.py
  backend/app/crud.py
  backend/app/models.py
Due: alembic-check

Added Gallery Functionality
  backend/app/alembic/versions/2025111101_add_photo_table.py
  backend/app/api/routes/galleries.py
  backend/app/crud.py
  backend/app/models.py
  backend/app_data/galleries/e7491217-52d0-4fda-b144-17c41f0d059d/1stockanimal.jpg
  docker-compose.yml
  frontend/Dockerfile
  frontend/src/routes/_layout/galleries.$galleryId.tsx
  frontend/src/routes/_layout/galleries.index.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

added a timeline feature for the team member project dashboard
  .DS_Store
  frontend/src/components/Projects/ProjectTimeline.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
Due: local-biome-check

Delete all content from README.md
  README.md
Due: none

Add first version of sample files
  sample-data/sample01.json
  sample-data/sample02.json
  sample-data/sample03.json
Due: none

deploment plan
  .claude/agents/startup-fullstack-engineer.md
  CLAUDE.md
  epics/initial-deploy-01/geo-deployment-plan.md
  epics/initial-deploy-01/phase-1-infrastructure/ticket-1.1-cloudflare-tunnel-setup.md
Due: none

deployed to a-seashell-company.com
  docker-compose.override.yml
  docker-compose.traefik.yml
  epics/initial-deploy-01/phase-1-infrastructure/ticket-1.1-cloudflare-tunnel-setup.md
  epics/initial-deploy-01/phase-2-server-config/ticket-2.1-server-security-config.md
  epics/initial-deploy-01/phase-3-app-config/ticket-3.1-production-environment-variables.md
  epics/initial-deploy-01/phase-3-app-config/ticket-3.2-database-maintenance-and-access.md
  epics/initial-deploy-01/phase-3-app-config/ticket-3.3-email-service-configuration.md
  epics/pwa-implementation/phase-1-infrastructure/ticket-pwa-1.1-vite-pwa-plugin.md
  epics/pwa-implementation/pwa-implementation-plan.md
  frontend/public/manifest.json
Due: local-biome-check

feat: add PWA support with offline page and caching strategies
  .env
  epics/pwa-implementation/phase-1-infrastructure/ticket-pwa-1.2-offline-page-and-caching.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/offline.html
  frontend/vite.config.ts
Due: local-biome-check

remove adminer
  development.md
  docker-compose.override.yml
  docker-compose.yml
Due: none

adminer remove
  .github/workflows/test-docker-compose.yml
Due: none

Added rate limiter for fastAPI template.
  .env
  backend/app/alembic/rate_limiting_algorithms/sliding_window.lua
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/core/rate_limiter/__init__.py
  backend/app/core/rate_limiter/key_strategy/__init__.py
  backend/app/core/rate_limiter/key_strategy/header_key_strategy.py
  backend/app/core/rate_limiter/key_strategy/ip_key_strategy.py
  backend/app/core/rate_limiter/key_strategy/key_strategy.py
  backend/app/core/rate_limiter/key_strategy/key_strategy_enum.py
  backend/app/core/rate_limiter/key_strategy/key_strategy_registry.py
  backend/app/core/rate_limiter/rate_limiter.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/__init__.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/base.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/registry.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/sliding_window.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/rate_limiter/test_dependency_rate_limit.py
  backend/tests/rate_limiter/test_ip_strategy.py
  backend/tests/rate_limiter/test_sliding_window_logic.py
  docker-compose.yml
Due: none

Fixed linting issues.
  backend/app/core/rate_limiter/key_strategy/header_key_strategy.py
  backend/app/core/rate_limiter/key_strategy/ip_key_strategy.py
  backend/app/core/rate_limiter/key_strategy/key_strategy.py
  backend/app/core/rate_limiter/key_strategy/key_strategy_enum.py
  backend/app/core/rate_limiter/rate_limiter.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/base.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/registry.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/sliding_window.py
  backend/app/main.py
  backend/tests/rate_limiter/test_dependency_rate_limit.py
  backend/tests/rate_limiter/test_sliding_window_logic.py
  backend/uv.lock
Due: none

Added more tests for strategies and rate_limiter
  backend/tests/rate_limiter/test_ip_strategy.py
  backend/tests/rate_limiter/test_sliding_window_logic.py
  backend/tests/rate_limiter/test_strategy.py
Due: none

Fixed lint issues
  backend/tests/rate_limiter/test_sliding_window_logic.py
Due: none

Fixed format issues
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/core/rate_limiter/key_strategy/key_strategy_registry.py
  backend/app/core/rate_limiter/rate_limiter.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/base.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/registry.py
  backend/app/core/rate_limiter/rate_limiting_algorithm/sliding_window.py
  backend/app/main.py
Due: none

Fixed the team member and client project sync and dashboard
  backend/app/api/main.py
  backend/app/api/routes/project_access.py
  frontend/src/routes/_layout/dashboard.tsx
Due: local-biome-check

fixed backend build bug
  backend/app/api/main.py
  frontend/src/routes/_layout/dashboard.tsx
Due: local-biome-check

Add ItemPurchase model to track purchases
  backend/app/models.py
Due: alembic-check

Keep compatibility with passwords hashed using bcrypt
  backend/app/core/security.py
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: add Redis client and database session utilities
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/redis.py
Due: none

feat: implement image management system with S3 and variants
  backend/app/alembic/versions/b2374a5f43e5_add_created_at_updated_at_fields.py
  backend/app/alembic/versions/db8bf70fc16a_add_images_and_image_variants_tables.py
  backend/app/api/routes/images.py
  backend/app/crud_image.py
  backend/app/models.py
Due: alembic-check, alembic-migration-safety

feat: add image processing services and comprehensive tests
  backend/app/services/__init__.py
  backend/app/services/background_service.py
  backend/app/services/image_service.py
  backend/app/services/image_worker.py
  backend/app/services/s3_service.py
  backend/tests/api/routes/test_images.py
  backend/tests/crud/test_crud_image.py
  backend/tests/services/test_background_service.py
  backend/tests/services/test_image_service.py
  backend/tests/services/test_s3_service.py
  backend/tests/utils/image.py
Due: none

feat: update dependencies for image processing and Redis support
  backend/app/api/main.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/theme.tsx
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  alembic-check: any of: ^backend/app/(models\.py|alembic/versions/.*\.py)$
  alembic-migration-safety: any of: ^backend/app/alembic/versions/.*\.py$
