Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

local-biome-check:
  name: biome check
  entry: npm run lint
  language: system

local-ruff-check:
  name: ruff check
  entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
  require_serial: true
  language: unsupported

local-ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude --exit-non-zero-on-format
  require_serial: true
  language: unsupported

generate-frontend-sdk:
  name: Generate Frontend SDK
  entry: bash ./scripts/generate-client.sh
  pass_filenames: false
  language: unsupported

fix syntax
  .pre-commit-config.yaml
Due: none

assert that configuration is not None
  backend/app/alembic/env.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

convert Item/User to ItemPublic/UserPublic
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

ty ignore unnecessary ignore statements
  backend/app/core/config.py
  backend/app/models.py
  backend/app/utils.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

add one type ignore
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

two more fixes
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

dummy edit
  backend/app/api/routes/users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

try with download version 4
  .github/workflows/playwright.yml
Due: none

removed projects
  backend/app/alembic/versions/c5e82d93f0b1_add_brand_user_table_and_brand_columns.py
  backend/app/api/main.py
  backend/app/api/routes/brands.py
  backend/app/api/routes/dashboard.py
  backend/app/models/brands.py
  frontend/.env.production
  frontend/src/clients/brands.ts
  frontend/src/clients/dashboard.ts
  frontend/src/clients/profile.ts
  frontend/src/clients/projects.ts
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/BrandEditForm.tsx
  frontend/src/components/app/BrandSetupForm.tsx
  frontend/src/components/app/Brands.tsx
  frontend/src/components/app/insight/MarketDynamic.tsx
  frontend/src/components/app/insight/RiskIntelligence.tsx
  frontend/src/lib/entitlements.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/app.brands.tsx
  frontend/src/routes/app.tsx
  frontend/src/routes/index.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fixed a bug when build
  frontend/src/components/app/dashboard/components/AIReferenceSourceTable.tsx
  frontend/src/components/app/dashboard/components/CustomerReviewTable.tsx
Due: local-biome-check

Add Stripe billing integration design spec
  docs/superpowers/specs/2026-03-12-stripe-billing-integration-design.md
Due: none

feat(billing): add implementation plan and update spec
  docs/superpowers/plans/2026-03-12-stripe-billing-integration.md
  docs/superpowers/specs/2026-03-12-stripe-billing-integration-design.md
Due: none

feat(billing): add Stripe config fields (secret key, frontend URL)
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add past_due to SubscriptionStatus type and isReadOnly check
  frontend/src/hooks/useEntitlement.ts
  frontend/src/lib/entitlements.ts
Due: local-biome-check

feat(billing): add past_due to subscriptionstatus enum via migration
  backend/app/alembic/versions/95d44b33e6b4_add_past_due_subscription_status.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(billing): add checkout and portal session endpoints with tests
  backend/app/api/main.py
  backend/app/api/routes/billing.py
  backend/pyproject.toml
  backend/tests/api/routes/test_billing.py
  backend/tests/conftest.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(billing): update webhook handler with user_id lookup and new events
  backend/app/api/routes/webhooks.py
  backend/tests/api/routes/test_billing.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat(billing): add billing API client
  frontend/src/clients/billing.ts
Due: local-biome-check

feat(billing): add billing page with subscription management
  frontend/src/components/app/BillingPage.tsx
  frontend/src/routes/app.billing.tsx
Due: local-biome-check

feat(billing): add pricing page with plan cards and checkout flow
  frontend/src/components/app/PricingPage.tsx
  frontend/src/routes/app.pricing.tsx
Due: local-biome-check

feat(billing): add UpgradeModal and fix FeatureGate pricing link
  frontend/src/components/app/FeatureGate.tsx
  frontend/src/components/app/UpgradeModal.tsx
Due: local-biome-check

feat(billing): add Pricing/Billing nav links and fix /pricing paths in AppLayout
  frontend/src/components/app/AppLayout.tsx
Due: local-biome-check

fix(billing): remove duplicate secret_key config and improve hasStripeCustomer check
  backend/app/config/base.py
  frontend/src/components/app/BillingPage.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

chore: commit route tree, lock file, and dashboard segment fix
  backend/app/api/routes/dashboard.py
  backend/uv.lock
  frontend/src/routeTree.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix(billing): set stripe_frontend_url default to port 3000 (actual frontend port)
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

ignore .env.development
  backend/.env.development
  backend/.gitignore
Due: generate-frontend-sdk

fixed several bugs for subscription
  backend/app/api/routes/billing.py
  backend/app/api/routes/brands.py
  backend/app/api/routes/profile.py
  backend/app/api/routes/webhooks.py
  frontend/.env
  frontend/src/components/app/BillingPage.tsx
  frontend/src/components/app/PricingPage.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

migrate awareness database and change backend accordingly
  backend/app/alembic/versions/c9e4f7a2b8d3_change_awareness_daily_performance_pk.py
  backend/app/api/routes/dashboard.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add Alembic migration for pipeline_run and pipeline_job_run tables
  backend/app/alembic/versions/d1e2f3a4b5c6_add_pipeline_run_tables.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

change dashboard to use daily aggregation tables for both target brand and competitors
  backend/app/api/routes/dashboard.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix
  backend/scripts/lint.sh
Due: generate-frontend-sdk

fix: remove unused os import in alembic env.py
  backend/app/alembic/env.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

hide the risk intelligence from user
  frontend/src/components/app/AppLayout.tsx
  frontend/src/routes/app.insight.risk-intelligence.tsx
Due: local-biome-check

enable reset password, and hide account setting for now
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/ChangePasswordDialog.tsx
  frontend/src/components/app/UserProfile.tsx
Due: local-biome-check

enabled multiple model support for search
  backend/app/alembic/versions/e3a1b2c4d5f6_multi_model_support.py
  docs/ai-model-aggregation-strategy.md
  docs/kila-mvp-product-review.md
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

change rate limit on prod
  backend/.env.prod
Due: generate-frontend-sdk

Add MVP document
  README.md
  docs/mvp.md
Due: none

new landing page layout
  frontend/src/components/app/AppLayout.tsx
  frontend/src/components/app/BillingPage.tsx
  frontend/src/components/app/Brands.tsx
  frontend/src/components/app/ChangePasswordDialog.tsx
  frontend/src/components/app/PricingPage.tsx
  frontend/src/components/app/SettingsPage.tsx
  frontend/src/components/app/UserProfile.tsx
  frontend/src/components/app/insight/MarketDynamic.tsx
  frontend/src/components/app/insight/RiskIntelligence.tsx
  frontend/src/components/landing/FAQSection.tsx
  frontend/src/components/landing/FeatureGridSection.tsx
  frontend/src/components/landing/FinalCTASection.tsx
  frontend/src/components/landing/Hero.tsx
  frontend/src/components/landing/HowItWorksSection.tsx
  frontend/src/components/landing/IntegrationsSection.tsx
  frontend/src/components/landing/LandingPage.tsx
  frontend/src/components/landing/PricingSection.tsx
  frontend/src/components/landing/ProductSection.tsx
  frontend/src/components/landing/SecuritySection.tsx
  frontend/src/components/landing/StatsSection.tsx
  frontend/src/components/landing/TestimonialSection.tsx
  frontend/src/hooks/useEntitlement.ts
  frontend/src/routes/app.tsx
  frontend/tailwind.config.js
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  local-ruff-check: any of: \.py$
  local-ruff-format: any of: \.py$
  generate-frontend-sdk: any of: ^backend/.*$|^scripts/generate-client\.sh$
