Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, erd-generation

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

erd-generation:
  name: ERD generation
  entry: bash -c 'cd backend && python scripts/generate_erd.py --validate --verbose --force'
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true
  require_serial: false
  ...

🔧 Configure reminder for waiting label in issue-manager (#1939)
  .github/workflows/issue-manager.yml
Due: none

fix(ci): simplify test-docker-compose to only verify builds
  .github/workflows/test-docker-compose.yml
Due: none

fix(ci): add optional env vars and .env file to test-backend workflow
  .github/workflows/test-backend.yml
Due: none

fix(ci): add PROJECT_NAME and fix DATABASE_URL validation in test-backend
  .github/workflows/test-backend.yml
Due: none

docs(testing): optimize strategy with 2025 AI/ML best practices
  .github/workflows/test-backend.yml
  backend/tests/utils/item.py
  docs/testing/strategy.md
Due: none

fix(ci): enable SQLite for fast test execution in CI
  .github/workflows/test-backend.yml
  backend/app/core/config.py
  backend/app/core/db.py
  backend/tests/conftest.py
Due: erd-generation

refactor(ci): switch to PostgreSQL for production-parity testing
  .github/workflows/test-backend.yml
  backend/tests/conftest.py
  docs/testing/strategy.md
Due: none

fix(tests): commit superuser to database in test fixtures
  backend/tests/conftest.py
Due: none

fix(tests): use separate sessions for db init and testing
  backend/tests/conftest.py
Due: none

fix(tests): implement official SQLModel testing pattern with dependency override
  backend/tests/conftest.py
Due: none

fix(tests): add proper type annotations to test fixtures
  backend/tests/conftest.py
Due: none

fix(tests): change fixture scope from function to module
  backend/tests/conftest.py
Due: none

fix(tests): use official FastAPI template pattern without dependency override
  backend/tests/conftest.py
Due: none

style(config): auto-format with ruff for lint compliance
  backend/app/core/config.py
Due: erd-generation

fix(tests): separate init session from test session for PostgreSQL isolation
  backend/tests/conftest.py
Due: none

fix(tests): align test configuration for PostgreSQL testing
  .github/workflows/test-backend.yml
  backend/app/api/main.py
Due: erd-generation

ci(tests): add EMAILS_FROM_EMAIL to test environment
  .github/workflows/test-backend.yml
Due: none

ci(tests): align frontend E2E testing with backend PostgreSQL setup
  .github/workflows/test-frontend.yml
Due: none

feat(storage): enhance Supabase Storage service with security and observability
  backend/app/services/__init__.py
  backend/app/services/storage.py
  backend/tests/services/test_storage.py
  docker-compose.yml
Due: erd-generation

feat(ci): add PR auto-labeling skill and check-labels workflow
  .claude/skills/pr-labeling/SKILL.md
  .claude/skills/pr-labeling/reference.md
  .github/workflows/check-labels.yml
Due: none

style(storage): auto-format storage.py for lint compliance
  backend/app/services/storage.py
Due: erd-generation

feat(database): add extractions table with enum, indexes, and trigger
  backend/app/alembic/versions/460746be37d1_add_extractions_table_with_enum_indexes_.py
Due: erd-generation

docs(data): add Ingestion model documentation to data models
  docs/data/models.md
Due: none

ci(workflows): remove duplicate label workflow and document PR labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
  docs/getting-started/development.md
Due: none

refactor(skills): simplify pr-labeling skill for proactive activation
  .claude/skills/pr-labeling/SKILL.md
  .claude/skills/pr-labeling/reference.md
Due: none

feat(frontend): add PDF upload form with drag-and-drop and validation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Ingestions/UploadForm.tsx
  frontend/src/hooks/useFileUpload.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/ingestions/upload.tsx
  frontend/src/test/setup.ts
  frontend/src/utils/fileFormatting.test.ts
  frontend/src/utils/fileFormatting.ts
  frontend/src/utils/fileValidation.test.ts
  frontend/src/utils/fileValidation.ts
  frontend/vitest.config.ts
Due: local-biome-check

docs(testing): add comprehensive Vitest unit testing documentation
  docs/testing/strategy.md
Due: none

ci(frontend): split test workflow into unit and E2E jobs
  .github/workflows/test-frontend.yml
Due: none

fix(frontend): add @vitest/coverage-v8 dependency for CI coverage
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

feat(frontend): add upload progress tracking with throttling
  frontend/src/components/Ingestions/UploadForm.tsx
  frontend/src/hooks/useFileUpload.test.ts
  frontend/src/hooks/useFileUpload.ts
Due: local-biome-check

docs(prd): mark epic CUR-28 document upload & storage as complete
  docs/api/overview.md
  docs/architecture/overview.md
  docs/prd/features/document-upload-storage.md
Due: none

fix(build): exclude test files from production TypeScript build
  frontend/tsconfig.build.json
Due: local-biome-check

fixing secrets for github actions tests
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
Due: none

Implementar sistema completo de gestión de inventario (Inventario-Express)
  backend/INVENTORY_DATABASE_SCHEMA.md
  backend/INVENTORY_SYSTEM_README.md
  backend/REQUIREMENTS_VALIDATION.md
  backend/app/alembic/versions/2025102701_add_inventory_management_system.py
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/alerts.py
  backend/app/api/routes/categories.py
  backend/app/api/routes/inventory_movements.py
  backend/app/api/routes/kardex.py
  backend/app/api/routes/products.py
  backend/app/api/routes/reports.py
  backend/app/crud.py
  backend/app/models.py
Due: erd-generation

fix role superuser
  backend/app/core/db.py
Due: erd-generation

fix some relationships
  backend/app/models.py
Due: erd-generation

Made fixes to workflow tests and frontend code
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
Due: local-biome-check

Made changes to the frontend code I added so the tests would actually function.
  .gitignore
  backend/app/main.py
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/services-projects.ts
  frontend/src/client/types-projects.ts
  frontend/src/client/types.gen.ts
  frontend/src/routes/_layout/galleries.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
  frontend/src/routes/_layout/projects.index.tsx
Due: local-biome-check, erd-generation

Path conditions:
  local-biome-check: any of: ^frontend/
  erd-generation: any of: ^backend/app/.*\.py$ and \.py$
