Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

Resolve `labeler.yml`
  .github/workflows/labeler.yml
Due: none

Resolve `issue-manager.yml`
  .github/workflows/issue-manager.yml
Due: none

Resolve `detect-conflicts.yml`
  .github/workflows/detect-conflicts.yml
Due: none

Resolve `add-to-project.yml`
  .github/workflows/add-to-project.yml
Due: none

Resolve `test-docker-compose.yml`
  .github/workflows/test-docker-compose.yml
Due: none

Resolve `test-backend.yml`
  .github/workflows/test-backend.yml
Due: none

Resolve `deploy-staging.yml` and `deploy-production.yml`
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  deployment.md
Due: none

Add zizmor GH actions workflow
  .github/workflows/zizmor.yml
Due: none

feat: alterações solicitadas pelo usuário
  backend/app/api/deps.py
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/crud.py
  backend/app/main.py
  backend/tests/crud/test_user.py
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Correct link URLs in docs
  deployment.md
Due: none

Fix smokeshow run command (use `uv run`)
  .github/workflows/smokeshow.yml
Due: none

Simplify Zizmor GH workflow name
  .github/workflows/zizmor.yml
Due: none

Specify `bun-version` for `oven-sh/setup-bun`
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
Due: none

Upgrade `setup-uv` to `8.1.0` and add a note about upgrading `version`
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Due: none

feat: enhance admin route authentication flow with login check and error handling
  frontend/src/routes/_layout.admin.tsx
Due: local-biome-check

feat: Add user profile management and race interaction endpoints
  .DS_Store
  backend/app/alembic/versions/a1b2c3d4e5f6_phase1_race_discovery_models.py
  backend/app/alembic/versions/b2c3d4e5f6a7_phase2_race_fts_search_vector.py
  backend/app/api/main.py
  backend/app/api/routes/profiles.py
  backend/app/api/routes/tags.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_profiles.py
  backend/tests/crud/test_tags_profile_interactions.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: Implement search and discovery features for races
  backend/app/api/routes/races.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/utils.py
  backend/tests/api/routes/test_races_search.py
  frontend/src/components/Races/FilterBar.tsx
  frontend/src/components/Races/RaceCard.tsx
  frontend/src/components/Races/SearchBar.tsx
  frontend/src/components/Races/SortControls.tsx
  frontend/src/hooks/useRaceSearch.ts
  frontend/src/routes/_public/races.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: Refactor enum type creation for race discovery models and streamline column definitions
  backend/app/alembic/versions/a1b2c3d4e5f6_phase1_race_discovery_models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Improve token validation in password reset flow
  backend/app/utils.py
  backend/tests/api/routes/test_login.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

teste
  backend/app/api/routes/items.py
  backend/app/crud.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

🔧 Fix invalid email error message
  frontend/src/routes/login.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

Switch to async DB driver: replace psycopg with asyncpg and update Alembic to async template
  backend/app/alembic/README
  backend/app/alembic/env.py
  backend/app/alembic/script.py.mako
  backend/app/alembic/versions/.keep
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/3452b8e33f88_initialize_models.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/alembic/versions/fe56fa70289e_add_created_at_to_user_and_item.py
  backend/app/core/config.py
  backend/pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Update database layer and all route handlers to use async SQLAlchemy patterns
  backend/app/alembic/versions/3452b8e33f88_initialize_models.py
  backend/app/api/deps.py
  backend/app/api/routes/items.py
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
  backend/app/core/db.py
  backend/app/crud.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add migration file
  backend/app/alembic/versions/cd5b3c3d1cd2_initialize_models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Add timeouts for jobs
  .github/workflows/add-to-project.yml
  .github/workflows/detect-conflicts.yml
  .github/workflows/issue-manager.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-changes.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  .github/workflows/zizmor.yml
Due: none

🚀 Migrate deployment from self-hosted Docker Compose to Render Blueprint
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  render.yaml
Due: none

🚀 Add Deploy to Render button and group resources under a Render project
  README.md
  render.yaml
Due: none

🚀 Move backend to starter plan and run migrations via preDeployCommand
  render.yaml
Due: none

🐛 Fix frontend Render build by upgrading @tanstack/router-plugin
  bun.lock
  frontend/package.json
  frontend/src/routeTree.gen.ts
  render.yaml
Due: local-biome-check

🚀 Revert backend to free plan with a startup wrapper script
  backend/scripts/start.sh
  render.yaml
Due: generate-frontend-sdk

🔧 Move env vars into a shared fastapi-env env group
  README.md
  render.yaml
Due: none

📝 Clarify which service consumes each post-deploy env var in README
  README.md
Due: none

🔧 Point Blueprint and Deploy button at the upstream fastapi repo
  README.md
  render.yaml
Due: none

📝 Note where POSTGRES_* vars live in the Render Dashboard
  README.md
Due: none

Swapped mailcatcher for mailpit
  README.md
  compose.override.yml
  development.md
  frontend/src/routeTree.gen.ts
  frontend/tests/reset-password.spec.ts
  frontend/tests/utils/mailpit.ts
Due: local-biome-check

🧹 Update .gitignore to include generated TypeScript and environment files
  .gitignore
Due: none

🧹 Remove .env file from repo
  .env
Due: none

✨ Add example environment file and test email script
  .example.env
  backend/scripts/send_test_email.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

🔧 Update ruff configuration for stricter linting and add tasklist for development commands
  backend/pyproject.toml
  tasklist.yaml
Due: generate-frontend-sdk

Addressed ruff-identified issues
  backend/app/alembic/env.py
  backend/app/api/deps.py
  backend/app/core/config.py
  backend/app/core/security.py
  backend/app/models.py
  backend/app/utils.py
  backend/scripts/send_test_email.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk
