Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

fix: CI compose override and StrEnum for ruff UP042
  .github/workflows/playwright.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-docker-compose.yml
  backend/app/core/permissions.py
  backend/app/models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: sync superuser flag in crud and satisfy ruff in tests
  backend/app/crud.py
  backend/tests/api/routes/test_authorization.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: honor is_superuser=True when creating users with default role
  backend/app/crud.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

test: cover auth deps edge cases for 90% coverage threshold
  backend/tests/api/routes/test_authorization.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

test: update admin playwright specs for RBAC roles
  frontend/tests/admin.spec.ts
Due: local-biome-check

fix: derive is_superuser from role and stop PATCH role demotion
  .env
  NOTES.md
  README.md
  backend/app/alembic/versions/b2c3d4e5f6a7_sync_user_superuser_with_role.py
  backend/app/alembic/versions/c3d4e5f6a7b8_is_superuser_generated_column.py
  backend/app/api/routes/items.py
  backend/app/core/db.py
  backend/app/core/permissions.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_authorization.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_users.py
  backend/tests/crud/test_user.py
  backend/tests/utils/user.py
  frontend/src/client/types.gen.ts
  frontend/src/lib/permissions.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Update README.md
  README.md
Due: none

fix(backend): mount frontend route only when FRONTEND_DIR exists
  backend/app/main.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Enforce answer ∈ options on generated questions (#61)
  backend/app/core/ai/openai.py
  backend/app/models.py
  backend/evals/DEVELOPMENT.md
  backend/evals/corpus/smoke_binary_search.txt
  backend/evals/corpus/smoke_conditionals.txt
  backend/evals/corpus/smoke_debugging.txt
  backend/evals/corpus/smoke_dictionaries.txt
  backend/evals/corpus/smoke_lists.txt
  backend/evals/corpus/smoke_loops.txt
  backend/evals/corpus/smoke_oop.txt
  backend/evals/corpus/smoke_stacks_queues.txt
  backend/evals/corpus/smoke_testing.txt
  backend/evals/corpus/smoke_variables.txt
  backend/evals/rubric.md
  backend/tests/core/test_openai.py
  backend/tests/models/test_question_item.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Record full-corpus prompt eval scores and ship A.
  README.md
  backend/evals/DEVELOPMENT.md
  backend/evals/rubric.md
Due: generate-frontend-sdk

Added openspec, engineering rules. Added proposal, tasks. Developed feature. Added tests. Added documentation.
  .gitignore
  README.md
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/items.py
  backend/app/api/routes/login.py
  backend/app/api/routes/private.py
  backend/app/api/routes/users.py
  backend/app/api/routes/utils.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_users.py
  backend/tests/conftest.py
  backend/tests/crud/test_user.py
  backend/tests/utils/user.py
  frontend/src/client/index.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Admin/UserActionsMenu.tsx
  frontend/src/components/Admin/columns.tsx
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/utils.ts
  frontend/tests/admin.spec.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Added openspec, engineering rules. Added proposal, tasks. Developed feature. Added tests. Added documentation.
  CLAUDE.md
  backend/app/alembic/versions/2d1ae9889b29_add_rbac_roles_and_permissions.py
  backend/app/api/routes/metrics.py
  backend/app/core/rbac.py
  backend/tests/api/routes/test_rbac.py
  docs/AUTHORIZATION.md
  frontend/src/components/Admin/roleOptions.ts
  frontend/src/components/Common/AccessDenied.tsx
  frontend/src/routes/_layout/forbidden.tsx
  frontend/src/routes/_layout/metrics.tsx
  openspec/changes/add-rbac/.openspec.yaml
  openspec/changes/add-rbac/design.md
  openspec/changes/add-rbac/proposal.md
  openspec/changes/add-rbac/specs/rbac/spec.md
  openspec/changes/add-rbac/tasks.md
  openspec/config.yaml
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Fixed after SCA
  backend/app/api/deps.py
  backend/app/api/routes/users.py
  backend/app/crud.py
  backend/tests/api/routes/test_rbac.py
  frontend/tests/admin.spec.ts
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

Fixed dependencies in MD file
  docs/AUTHORIZATION.md
Due: none

Fixed tests
  frontend/tests/user-settings.spec.ts
Due: local-biome-check

🔧 Fix Sonner toast theme to use app ThemeProvider
  bun.lock
  frontend/package.json
  frontend/src/components/ui/sonner.tsx
Due: local-biome-check

💄 Refactor email templates and components for improved styling
  backend/app/email-templates/new_account.html
  backend/app/email-templates/reset_password.html
  backend/app/email-templates/test_email.html
  packages/react-email/emails/new_account.tsx
  packages/react-email/emails/reset_password.tsx
  packages/react-email/emails/test_email.tsx
  packages/react-email/ui/Button.tsx
  packages/react-email/ui/Callout.tsx
  packages/react-email/ui/Heading.tsx
  packages/react-email/ui/Layout.tsx
  packages/react-email/ui/Link.tsx
Due: generate-frontend-sdk

🐛 Fix Sonner toast theme sync (#2450)
  bun.lock
  frontend/package.json
  frontend/src/components/ui/sonner.tsx
Due: local-biome-check

💄 Refactor email templates and components for improved styling (#2451)
  backend/app/email-templates/new_account.html
  backend/app/email-templates/reset_password.html
  backend/app/email-templates/test_email.html
  packages/react-email/emails/new_account.tsx
  packages/react-email/emails/reset_password.tsx
  packages/react-email/emails/test_email.tsx
  packages/react-email/ui/Button.tsx
  packages/react-email/ui/Callout.tsx
  packages/react-email/ui/Heading.tsx
  packages/react-email/ui/Layout.tsx
  packages/react-email/ui/Link.tsx
Due: generate-frontend-sdk

📝 Update README with Mailpit and React Email
  README.md
  img/mailpit.png
  img/react-email.png
Due: none

📝 Update README.md with Mailpit and React Email (#2452)
  README.md
  img/mailpit.png
  img/react-email.png
Due: none

✅ Simplify password reset E2E tests
  frontend/tests/reset-password.spec.ts
  frontend/tests/utils/mailpit.ts
Due: local-biome-check

✅ Simplify password reset E2E tests (#2453)
  frontend/tests/reset-password.spec.ts
  frontend/tests/utils/mailpit.ts
Due: local-biome-check

Fix API bugs surfaced by live tracing (422/400 instead of 500)
  backend/app/api/params.py
  backend/app/api/routes/items.py
  backend/app/api/routes/login.py
  backend/app/api/routes/private.py
  backend/app/api/routes/users.py
  backend/tests/api/routes/test_items.py
  backend/tests/api/routes/test_login.py
  backend/tests/api/routes/test_private.py
  backend/tests/api/routes/test_users.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Handle empty password hash
  backend/app/core/security.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Updated data initialization to include try catch statements!
  backend/app/initial_data.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

⬆️ Bump astral-sh/setup-uv to 10.0.1
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Due: none

♻️ Use uv version "latest-known" in setup-uv steps
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Due: none

🔥 Remove obsolete uv checksum comments
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Due: none

⬆️ Bump setup-uv action to 10.0.1 (#2458)
  .github/workflows/bump-pre-commit-hooks.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
  .github/workflows/pre-commit.yml
  .github/workflows/prepare-release.yml
  .github/workflows/smokeshow.yml
  .github/workflows/test-backend.yml
Due: none

⬆️ Bump Typer min version to `0.26.1`
  pyproject.toml
  uv.lock
Due: none

⬆️ Bump Typer min version to `0.26.1` (#2459)
  pyproject.toml
  uv.lock
Due: none

♻️ Simplify database readiness checks
  .github/workflows/test-backend.yml
  backend/README.md
  backend/app/backend_pre_start.py
  backend/app/core/db.py
  backend/app/tests_pre_start.py
  backend/pyproject.toml
  backend/scripts/prestart.sh
  backend/scripts/tests-start.sh
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

♻️ Simplify database readiness checks (#2460)
  .github/workflows/test-backend.yml
  backend/README.md
  backend/app/backend_pre_start.py
  backend/app/core/db.py
  backend/app/tests_pre_start.py
  backend/pyproject.toml
  backend/scripts/prestart.sh
  backend/scripts/tests-start.sh
  backend/tests/scripts/test_backend_pre_start.py
  backend/tests/scripts/test_test_pre_start.py
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore(remove-alembicini): Remove alembic.ini and migrate config to pyproject.toml (#2460)
  backend/alembic.ini
  backend/app/alembic/env.py
  backend/pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

chore(remove-alembicini): Remove alembic.ini and migrate config to pyproject.toml (#2460)
  backend/Dockerfile
  backend/alembic.ini
  backend/app/alembic/env.py
  backend/pyproject.toml
  uv.lock
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

✨ Add refresh token workflow and auth logging
  backend/app/api/routes/login.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

✨ Add refresh token signing helpers
  backend/app/core/security.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

Added `unused-ignore-comment` for `Settings()`
  backend/app/core/config.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk
