Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, alembic-check, alembic-migration-safety

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

alembic-check:
  name: alembic check (detect migration drift)
  entry: bash -c 'cd backend && uv run alembic check'
  language: system
  pass_filenames: false

alembic-migration-safety:
  name: alembic migration safety (prevent data loss)
  entry: python backend/scripts/check_migration_safety.py
  language: system
  pass_filenames: false

🔧 Add Tailwind CSS directives support in biome config
  frontend/biome.json
Due: local-biome-check

🔧 Add Tailwind CSS directives support in biome config (#2029)
  frontend/biome.json
Due: local-biome-check

🔥 Remove unused dependencies
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

🔥 Remove unused dependencies (#2035)
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

📝 Update documentation
  README.md
  frontend/README.md
  img/dashboard-create.png
  img/dashboard-dark.png
  img/dashboard-items.png
  img/dashboard-user-settings.png
  img/dashboard.png
  img/login.png
Due: local-biome-check

📝 Update docs (#2036)
  README.md
  frontend/README.md
  img/dashboard-create.png
  img/dashboard-dark.png
  img/dashboard-items.png
  img/dashboard-user-settings.png
  img/dashboard.png
  img/login.png
Due: local-biome-check

📝 Fix outdated workflow badge (#2028)
  README.md
Due: none

📝 Update README to include link for Vite
  README.md
Due: none

📝 Update README to include link for Vite (#2037)
  README.md
Due: none

📝 Add Mailcatcher setup instructions for local email testing
  README.md
  development.md
Due: none

Update
  development.md
Due: none

📝 Add Mailcatcher setup instructions for local email testing (#2038)
  README.md
  development.md
Due: none

✨ Add meta titles
  frontend/src/routes/__root.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

✨ Add meta title support to all pages (#2039)
  frontend/src/routes/__root.tsx
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/index.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/_layout/settings.tsx
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
Due: local-biome-check

🔖 Release version 0.9.0
  release-notes.md
Due: none

A new feature was added to track user interactions with items:
  backend/app/alembic/versions/add_activity_tracking_feature.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/core/config.py
  backend/app/crud.py
  backend/app/models.py
  backend/app/utils.py
Due: alembic-check, alembic-migration-safety

updated readme
  README.md
Due: none

added readme
  README.md
Due: none

stripe epic and phase 1 tickets
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.1-premium-user-model.md
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.2-stripe-api-config.md
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.3-checkout-session-endpoint.md
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.4-webhook-handler.md
  epics/stripe-premium-integration/stripe-premium-plan.md
Due: none

fix: resolve 6 failing Playwright E2E tests
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/signup.tsx
  frontend/tests/reset-password.spec.ts
  frontend/tests/sign-up.spec.ts
  frontend/tests/utils/user.ts
Due: local-biome-check

feat: update container initialization and permissions; add GitHub CLI installation
  .devcontainer/container-init.sh
  .devcontainer/devcontainer.json
  scripts/generate-client.sh
Due: none

feat: Implement Stripe integration for premium user upgrades Phase 2
  .env
  backend/app/alembic/env.py
  backend/app/alembic/versions/43e367b997b2_add_premium_user_table.py
  backend/app/api/main.py
  backend/app/api/routes/items.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/premium_users/__init__.py
  backend/app/premium_users/models.py
  backend/app/premium_users/routes.py
  backend/app/premium_users/service.py
  backend/app/premium_users/stripe.py
  backend/pyproject.toml
  backend/uv.lock
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.1-premium-user-model.md
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.2-stripe-api-config.md
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.3-checkout-session-endpoint.md
  epics/stripe-premium-integration/phase-1-backend/STRIPE-1.4-webhook-handler.md
  epics/stripe-premium-integration/phase-2-limits/STRIPE-2.1-item-count-check.md
  epics/stripe-premium-integration/phase-2-limits/STRIPE-2.2-frontend-error-handling.md
  epics/stripe-premium-integration/stripe-premium-plan.md
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Premium/UpgradeModal.tsx
  frontend/src/main.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

👷 Run Smokeshow always, even on test failures
  .github/workflows/smokeshow.yml
Due: none

Pre-commit fixes
  frontend/.gitignore
  frontend/package-lock.json
  frontend/src/components/Common/Footer.tsx
  frontend/src/components/ui/loading-button.tsx
  frontend/src/routes/login.tsx
  frontend/tests/user-settings.spec.ts
  scripts/generate-client.sh
Due: local-biome-check

👷 Configure coverage, error on main tests, don't wait for Smokeshow
  .github/workflows/test-backend.yml
Due: none

⬆️ Use prek as a pre-commit alternative
  backend/pyproject.toml
  backend/uv.lock
  development.md
Due: none

👷 Run Smokeshow always, even on test failures (#2053)
  .github/workflows/smokeshow.yml
Due: none

👷 Configure coverage, error on main tests, don't wait for Smokeshow (#2054)
  .github/workflows/test-backend.yml
Due: none

feat: Add Stripe CLI installation and update container initialization script
  .claude/settings.local.json
  .devcontainer/container-init.sh
  .devcontainer/devcontainer.json
Due: none

2025.12.22/18:16
  .env
  .idea/.gitignore
  .idea/full-stack-fastapi-template.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/Dockerfile
  docker-compose.override.yml
  docker-compose.traefik.yml
  docker-compose.yml
Due: none

Path conditions:
  local-biome-check: any of: ^frontend/
  alembic-check: any of: ^backend/app/(models\.py|alembic/versions/.*\.py)$
  alembic-migration-safety: any of: ^backend/app/alembic/versions/.*\.py$
