Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, alembic-check, alembic-migration-safety

local-biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npm run lint'
  language: system

alembic-check:
  name: alembic check (detect migration drift)
  entry: bash -c 'cd backend && uv run alembic check'
  language: system
  pass_filenames: false

alembic-migration-safety:
  name: alembic migration safety (prevent data loss)
  entry: python backend/scripts/check_migration_safety.py
  language: system
  pass_filenames: false

feat: add development environment configuration and documentation
  .env
  DEVELOPMENT-DEV.md
  backend/DEVELOPMENT.md
  backend/scripts/run-tests.sh
  frontend/Dockerfile.dev
Due: local-biome-check

chore: remove old screenshots and update project documentation
  .gitignore
  README.md
  img/dashboard-create.png
  img/dashboard-dark.png
  img/dashboard-items.png
  img/dashboard-user-settings.png
  img/dashboard.png
  img/docs.png
  img/github-social-preview.png
  img/github-social-preview.svg
  img/login.png
Due: none

feat: enhance test infrastructure and utility functions
  backend/app/api/routes/utils.py
  backend/scripts/prestart.sh
  backend/scripts/tests-start.sh
  backend/tests/conftest.py
Due: none

fix: update Alembic configuration for proper module imports
  backend/app/alembic/env.py
Due: none

pwa
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/assets/images/cup.png
  frontend/public/assets/images/favicon.ico
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon-48x48.png
  frontend/public/favicon.ico
  frontend/public/icon-192.png
  frontend/public/icon-512.png
  frontend/public/icon-maskable-192.png
  frontend/public/icon-maskable-512.png
Due: local-biome-check

pwa plan
  .DS_Store
  .vscode/launch.json
  docker-compose.override.yml
  epics/pwa-implementation/phase-2-branding/generate_icons.py
  epics/pwa-implementation/phase-2-branding/ticket-pwa-2.1-generate-app-icons.md
Due: none

feat(test): implement test isolation with transaction scope
  backend/app/core/config.py
  backend/tests/conftest.py
Due: none

feat: Add LESMEE database migration with hybrid key strategy
  backend/app/alembic/versions/03422fadcc73_create_performance_indexes_for_lesmee_.py
  backend/app/alembic/versions/1888a26586e5_create_lesmee_settings_and_audit_logs_.py
  backend/app/alembic/versions/61e21c4d3142_add_uuid_extension_for_lesmee_schema.py
  backend/app/alembic/versions/7941988f444a_create_lesmee_users_table_with_int_.py
  backend/app/alembic/versions/7d93e3488432_create_lesmee_products_and_product_.py
  backend/app/alembic/versions/94d2d958190e_create_lesmee_staff_and_staff_finances_.py
  backend/app/alembic/versions/a1fd466d2512_create_lesmee_invoices_table_for_.py
  backend/app/alembic/versions/a4b98987c493_create_lesmee_customers_table_with_uuid_.py
  backend/app/alembic/versions/afa0d7780e75_create_lesmee_workflow_tables_work_.py
  backend/app/alembic/versions/cf2ea22e8259_create_lesmee_orders_order_items_and_.py
  backend/app/alembic/versions/e39fd2ea2f5f_create_lesmee_utility_functions.py
  backend/app/alembic/versions/e7864355f3d1_create_lesmee_enum_types.py
  backend/app/enums.py
  backend/app/lesmee_models_complete.py
  backend/app/models.py
Due: alembic-check, alembic-migration-safety

feat: implement comprehensive Document Lifecycle Management System with document management, workflows, versioning, locking, and retention.
  .cursorrules
  ARCHITECTURE.md
  backend/app/api/main.py
  backend/app/api/routes/admin.py
  backend/app/api/routes/document_lifecycle.py
  backend/app/api/routes/documents.py
  backend/app/api/routes/version_management.py
  backend/app/api/routes/workflows.py
  backend/app/core/scheduler.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/document.py
  backend/app/models/document_lock.py
  backend/app/models/workflow.py
  backend/app/models/workflow_instance.py
  backend/app/services/file_storage.py
  backend/app/tasks/__init__.py
  backend/app/tasks/retention.py
  backend/tests/api/routes/test_document_lifecycle.py
  backend/tests/api/routes/test_documents.py
  implementation_plan.md
  task.md
  walkthrough.md
Due: none

🔧 Fix missing internal label on dependabot PRs
  .github/dependabot.yml
Due: none

Update
  .github/dependabot.yml
Due: none

🔧 Add labels to Dependabot updates (#1992)
  .github/dependabot.yml
Due: none

👷 Upgrade latest-changes and pin actions/checkout@v5
  .github/workflows/latest-changes.yml
Due: none

👷 Upgrade latest-changes and pin actions/checkout@v5 (#2006)
  .github/workflows/latest-changes.yml
Due: none

Remove comment
  .github/workflows/latest-changes.yml
Due: none

revised the project timeline
  frontend/src/components/Projects/ProjectTimeline.tsx
Due: local-biome-check

merged main to my branch
  .idea/.gitignore
  .idea/modules.xml
  .idea/mosaic-project-cs4800.iml
  .idea/vcs.xml
Due: none

Updated galleries with more features
  backend/app/alembic/versions/2025111201_add_project_invitation_table.py
  backend/app/api/routes/projects.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/initial_data.py
  backend/app_data/galleries/e7491217-52d0-4fda-b144-17c41f0d059d/1stockanimal.jpg
  backend/scripts/prestart.sh
  docker-compose.yml
  frontend/src/components/Projects/CreateProject.tsx
  frontend/src/routes/_layout/galleries.$galleryId.tsx
  frontend/src/routes/_layout/projects.index.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

Add GitHub Actions workflow for Avelio Contract Guard
  .github/workflows/avelio.yml
Due: none

test: password -> pass hashed_password -> hashed
  backend/app/models.py
Due: alembic-check

galleries have upload dates and fize sizes added
  backend/app/alembic/versions/2025011501_add_photo_file_size_uploaded_at.py
  backend/app/api/routes/galleries.py
  backend/app/models.py
  frontend/src/routes/_layout/galleries.$galleryId.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

made changes for deployment
  .github/workflows/deploy.yml
  backend/Dockerfile
  deploy-ip.sh
Due: none

Made fixes for automatic deployment
  .github/workflows/deploy.yml
  scripts/deploy-traefik.sh
Due: none

Changed deployment for testing using IP
  .github/workflows/deploy.yml
  scripts/deploy-ip-based.sh
Due: none

added commenting system
  backend/app/api/main.py
  backend/app/api/routes/comments.py
  backend/app/crud.py
  backend/app/models.py
  frontend/src/components/Projects/AddComment.tsx
  frontend/src/components/Projects/CommentsList.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
Due: local-biome-check, alembic-check

Fixed date being wrong for uploaded photos
  backend/app/crud.py
  frontend/src/routes/_layout/galleries.$galleryId.tsx
Due: local-biome-check

Added comments table in backend, also fixed linting errors.
  backend/app/alembic/versions/2025011601_add_comment_table.py
  backend/app/crud.py
  frontend/src/components/Projects/CommentsList.tsx
Due: local-biome-check, alembic-check, alembic-migration-safety

Actually ran linting fixes
  backend/app/api/main.py
  backend/app/api/routes/comments.py
  backend/app/api/routes/galleries.py
  backend/app/api/routes/project_access.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/crud.py
  backend/app/models.py
  frontend/biome.json
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Projects/AddComment.tsx
  frontend/src/components/Projects/ClientAccessList.tsx
  frontend/src/components/Projects/CommentsList.tsx
  frontend/src/components/Projects/CreateProject.tsx
  frontend/src/components/Projects/DeleteProject.tsx
  frontend/src/components/Projects/EditProject.tsx
  frontend/src/components/Projects/InviteClient.tsx
  frontend/src/components/Projects/ProjectTimeline.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/main.tsx
  frontend/src/routes/_layout/dashboard.tsx
  frontend/src/routes/_layout/galleries.$galleryId.tsx
  frontend/src/routes/_layout/galleries.index.tsx
  frontend/src/routes/_layout/organization.tsx
  frontend/src/routes/_layout/projects.$projectId.tsx
  frontend/src/routes/_layout/projects.index.tsx
  frontend/src/routes/client-login.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/signup.tsx
  frontend/src/routes/team-login.tsx
Due: local-biome-check, alembic-check

🔧 Add Tailwind, update dependencies and config files
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: local-biome-check

✨ Introduce new Shadcn components and remove old ones
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button-group.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/close-button.tsx
  frontend/src/components/ui/color-mode.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/drawer.tsx
  frontend/src/components/ui/field.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input-group.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/link-button.tsx
  frontend/src/components/ui/menu.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/password-input.tsx
  frontend/src/components/ui/provider.tsx
  frontend/src/components/ui/radio.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/components/ui/tooltip.tsx
Due: local-biome-check

🔧 Update dependencies
  frontend/package-lock.json
  frontend/package.json
Due: local-biome-check

Add new components.json file
  frontend/components.json
Due: local-biome-check

🔥 Remove Chakra UI files
  frontend/src/theme.tsx
  frontend/src/theme/button.recipe.ts
Due: local-biome-check

🔧 Add ThemeProvider component and integrate it into main
  frontend/src/components/theme-provider.tsx
  frontend/src/main.tsx
Due: local-biome-check

🔥 Remove common components
  frontend/src/components/Common/ItemActionsMenu.tsx
  frontend/src/components/Common/Navbar.tsx
  frontend/src/components/Common/NotFound.tsx
  frontend/src/components/Common/Sidebar.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Common/UserActionsMenu.tsx
  frontend/src/components/Common/UserMenu.tsx
Due: local-biome-check

Update primary color
  frontend/src/index.css
Due: local-biome-check

✨ Add new components
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/loading-button.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/password-input.tsx
  frontend/src/components/ui/tabs.tsx
Due: local-biome-check

✨ Add AuthLayout component
  frontend/src/components/Common/AuthLayout.tsx
Due: local-biome-check

Path conditions:
  local-biome-check: any of: ^frontend/
  alembic-check: any of: ^backend/app/(models\.py|alembic/versions/.*\.py)$
  alembic-migration-safety: any of: ^backend/app/alembic/versions/.*\.py$
