Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: npm run lint
        language: system
        types: [text]
        files: ^frontend/

      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: unsupported
        types: [python]

      - id: local-mypy
        name: mypy check
        entry: uv run mypy backend/app
        require_serial: true
        language: unsupported
        pass_filenames: false

      - id: generate-frontend-sdk
        name: Generate Frontend SDK
        entry: bash ./scripts/generate-client.sh
        pass_filenames: false
        language: unsupported
        files: ^backend/.*$|^scripts/generate-client\.sh$

feat: add browser chrome frame + perspective tilt to hero screenshot
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

refactor: convert hero chrome bar inline styles to tailwind, fix indentation
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

refactor: replace remaining inline bg colors with tailwind arbitrary values
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

docs: add hero screenshot enhancement spec and plan
  frontend/docs/superpowers/plans/2026-03-18-hero-screenshot-enhancement.md
  frontend/docs/superpowers/specs/2026-03-18-hero-screenshot-enhancement-design.md
Due: local-biome-check

chore: ignore .superpowers brainstorm session files
  frontend/.gitignore
Due: local-biome-check

feat: reduce hero screenshot tilt to subtle (8deg)
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: validate existing email and set 201 status on user creation
  backend/app/api/routes/private.py
  backend/tests/api/routes/test_private.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add pills overlay with data-flow animation to hero screenshot
  frontend/src/components/landing/Hero.tsx
  frontend/src/index.css
Due: local-biome-check

feat: #BAE8E8 pill bg, #272643 connectors, 85% height, remove mask
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

revert: restore dark slate pill style and white connectors
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: add full-width gradient mask + blue pill styling to hero section
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: replace perspective tilt with flat card + blue border on hero screenshot
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: change hero mask color from dark slate to #E1E8FF blue tint
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: increase pill padding, height, font size, and border thickness
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

fix: connector lines now terminate at top of last pill box
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

fix: connector lines stop exactly at top of last pill, all pills same height
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: hide StatsSection and TestimonialSection until we have customer data
  frontend/src/components/landing/LandingPage.tsx
Due: local-biome-check

chnage the feature list from risk intelligence to Brand Sentiment
  frontend/.superpowers/brainstorm/97822-1773871711/.server.pid
  frontend/.superpowers/brainstorm/97972-1773871727/.server.pid
  frontend/.superpowers/brainstorm/97972-1773871727/brand-impression.png
  frontend/.superpowers/brainstorm/97972-1773871727/color-suggest-v2.html
  frontend/.superpowers/brainstorm/97972-1773871727/color-suggest.html
  frontend/.superpowers/brainstorm/97972-1773871727/combined-ac-v2.html
  frontend/.superpowers/brainstorm/97972-1773871727/combined-ac.html
  frontend/.superpowers/brainstorm/97972-1773871727/competitive-analysis.png
  frontend/.superpowers/brainstorm/97972-1773871727/hero-preview.html
  frontend/.superpowers/brainstorm/97972-1773871727/market-dynamic.png
  frontend/.superpowers/brainstorm/97972-1773871727/pills-overlay.html
  frontend/.superpowers/brainstorm/97972-1773871727/pills-v2.html
  frontend/.superpowers/brainstorm/97972-1773871727/pills-v3.html
  frontend/.superpowers/brainstorm/97972-1773871727/pills-v4.html
  frontend/.superpowers/brainstorm/97972-1773871727/risk-intelligence.png
  frontend/.superpowers/brainstorm/97972-1773871727/screenshot-treatment-v2.html
  frontend/.superpowers/brainstorm/97972-1773871727/screenshot-treatment.html
  frontend/src/components/landing/FeatureGridSection.tsx
Due: local-biome-check

feat: refresh pricing section with Free/Pro/Enterprise tiers
  frontend/src/components/landing/FeatureGridSection.tsx
  frontend/src/components/landing/PricingSection.tsx
Due: local-biome-check

feat: replace product section with 3-category feature matrix
  frontend/public/assets/features/Impression_historical_trend.png
  frontend/public/assets/features/Impression_ranking_details.png
  frontend/public/assets/features/Impression_reference_sources.png
  frontend/public/assets/features/Impression_sentiments.png
  frontend/public/assets/features/competitive_gaps_ranking.png
  frontend/public/assets/features/competitive_gaps_visibility_sentiment.png
  frontend/public/assets/features/competitive_sentiment_comparison.png
  frontend/public/assets/features/competitive_sources_comparison.png
  frontend/public/assets/features/market_competitive_matrix.png
  frontend/public/assets/features/market_position_strength.png
  frontend/public/assets/features/market_visibility_history.png
  frontend/public/assets/features/market_visibility_share.png
  frontend/src/components/landing/ProductSection.tsx
Due: local-biome-check

feat: replace integration icon boxes with real AI platform logos
  frontend/src/components/landing/IntegrationsSection.tsx
Due: local-biome-check

remove copilot
  frontend/src/components/landing/IntegrationsSection.tsx
Due: local-biome-check

feat: restore perspective tilt on hero screenshot, reduce width to 60%
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: increase hero screenshot width to 70%
  frontend/src/components/landing/Hero.tsx
Due: local-biome-check

feat: hide SecuritySection until post-MVP
  frontend/src/components/landing/LandingPage.tsx
Due: local-biome-check

fix: make Book a Demo button text visible in CTA section
  frontend/src/components/landing/FinalCTASection.tsx
Due: local-biome-check

improved hero section and fix several issues on other sections
  frontend/src/components/landing/FAQSection.tsx
Due: local-biome-check

change price and feature list, fix the CTA
  frontend/src/components/landing/FinalCTASection.tsx
  frontend/src/components/landing/PricingSection.tsx
Due: local-biome-check

feat: add PJ (Pessoa Jurídica) basic registration
  backend/app/alembic/versions/a1b2c3d4e5f6_create_company_table.py
  backend/app/api/main.py
  backend/app/api/routes/companies.py
  backend/app/crud.py
  backend/app/models.py
  backend/tests/api/routes/test_companies.py
  backend/tests/conftest.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/Sidebar/AppSidebar.tsx
  frontend/src/routes/_layout/companies.tsx
Due: local-biome-check, local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: regenerate TanStack Router route tree with companies route
  frontend/src/routeTree.gen.ts
Due: local-biome-check

feat: add report storage abstraction (read side)
  backend/app/config/base.py
  backend/app/storage/__init__.py
  backend/app/storage/report_storage.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: migrate weekly report tables
  backend/app/alembic/versions/e2c70adc2cef_add_weekly_report_tables.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

fix: make get_report_storage accept explicit params for config injection
  backend/app/storage/report_storage.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: add shared kila-reports volume for PDF storage
  docker-compose.yml
Due: none

feat: add weekly report download button and email subscription toggle
  frontend/src/components/app/SettingsPage.tsx
  frontend/src/components/app/WeeklyReportDownloadButton.tsx
  frontend/src/components/app/WeeklyReportSubscriptionToggle.tsx
Due: local-biome-check

feat: add weekly report download and subscription API endpoints
  backend/app/api/main.py
  backend/app/api/routes/reports.py
  backend/tests/api/routes/test_reports.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

system test procedure and operational SOP
  docs/operations-sop.md
  docs/test-scenarios.md
Due: none

feat: make Clerk JWKS URL configurable via CLERK_JWKS_URL env var
  backend/app/api/deps.py
  backend/app/config/base.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

feat: honor trial period days in Stripe Checkout (prevent mid-trial double-charge)
  backend/app/api/routes/billing.py
  backend/tests/api/routes/test_billing.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk

test: add naive datetime coverage for _calculate_trial_end timezone handling
  backend/tests/api/routes/test_billing.py
Due: local-ruff-check, local-ruff-format, generate-frontend-sdk
