Repository fastapi/full-stack-fastapi-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, erd-generation

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                frontend/src/client/.*|
                backend/app/email-templates/build/.*
            )$
      - id: trailing-whitespace
        exclude: ^frontend/src/client/.*
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: local
    hooks:
      - id: local-biome-check
        name: biome check
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        types: [text]
        files: ^frontend/
      - id: erd-generation
        name: ERD generation
        entry: bash -c 'cd backend && python scripts/generate_erd.py --validate --verbose --force'
        language: system
        types: [python]
        files: ^backend/app/.*\.py$
        stages: [pre-commit]
        always_run: false
        pass_filenames: true
        require_serial: false
        description: "Generate and validate ERD diagrams from SQLModel definitions (Mermaid format)"

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

Another fix to the workflow files
  docker-compose.yml
Due: none

Made another change to a workflow to properly run a test
  docker-compose.override.yml
Due: none

Changing playwright test to fit our current app
  frontend/tests/login.spec.ts
Due: local-biome-check

One more playwright fix
  frontend/tests/utils/user.ts
Due: local-biome-check

fix(db): remove duplicate extractions migration
  backend/app/alembic/versions/460746be37d1_add_extractions_table_with_enum_indexes_.py
Due: erd-generation

Fixed users not being in a default organization at account creation
  backend/app/api/routes/users.py
  backend/app/crud.py
Due: erd-generation

Changed how new users are added to a default organization
  backend/app/api/routes/private.py
  backend/app/api/routes/users.py
  backend/app/crud.py
Due: erd-generation

docs(testing): add comprehensive database migration testing guidance
  docs/testing/strategy.md
Due: none

fix(upload): resolve file upload 413 and 401 errors
  docs/getting-started/development.md
  frontend/src/hooks/useFileUpload.ts
Due: local-biome-check

feat(frontend): set up PDF.js worker and react-pdf dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TestPDFWorker.tsx
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routes/test-pdf.tsx
Due: local-biome-check

fix(frontend): remove unused ts-expect-error directive in test route
  frontend/src/routes/test-pdf.tsx
Due: local-biome-check

feat(pdf-viewer): implement PDF navigation hook with comprehensive tests
  frontend/src/hooks/usePDFNavigation.test.ts
  frontend/src/hooks/usePDFNavigation.ts
Due: local-biome-check

fix(test): resolve TypeScript errors in useFileUpload tests
  frontend/src/hooks/useFileUpload.test.ts
Due: local-biome-check

feat(pdf-viewer): implement PDFViewer component with pagination and zoom
  frontend/src/components/Ingestions/PDFViewer.test.tsx
  frontend/src/components/Ingestions/PDFViewer.tsx
  frontend/src/test/utils.tsx
Due: local-biome-check

fix(tests): resolve TypeScript error and fix PDFViewer test suite
  frontend/src/components/Ingestions/PDFViewer.test.tsx
  frontend/src/components/Ingestions/PDFViewer.tsx
Due: local-biome-check

feat(nav): add ingestions sidebar navigation item
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/routeTree.gen.ts
Due: local-biome-check

feat(ingestions): add list endpoint and frontend page with pagination
  backend/app/api/routes/ingestions.py
  backend/app/crud.py
  backend/tests/api/routes/test_ingestions.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/routes/_layout/ingestions/index.tsx
Due: local-biome-check, erd-generation

fix(ci): resolve lint-backend mypy and build errors
  backend/app/crud.py
  frontend/src/routeTree.gen.ts
Due: local-biome-check, erd-generation

docs(data): update models.md with verified database state
  docs/data/models.md
Due: none

style(backend): apply ruff formatting to crud.py
  backend/app/crud.py
Due: erd-generation

feat(ingestions): add upload button to ingestions list page
  frontend/src/routes/_layout/ingestions/index.tsx
Due: local-biome-check

feat(ingestions): add PDF review route with TanStack Query integration
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/ingestions/$id.review.tsx
  frontend/src/routes/_layout/ingestions/index.tsx
Due: local-biome-check

fix(ingestions): add missing endpoint and fix navigation types
  backend/app/api/routes/ingestions.py
  backend/app/crud.py
  frontend/src/client/sdk.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/routes/_layout/ingestions/$id.review.tsx
  frontend/src/routes/_layout/ingestions/index.tsx
Due: local-biome-check, erd-generation

fix(backend): correct ingestions table name in models
  backend/app/models.py
Due: erd-generation

feat(ocr): implement Mistral OCR integration with Celery task
  backend/app/alembic/versions/2ccac127c59f_add_ocr_fields_to_ingestions.py
  backend/app/api/routes/ingestions.py
  backend/app/core/config.py
  backend/app/models.py
  backend/app/services/ocr.py
  backend/app/services/storage.py
  backend/app/tasks/extraction.py
  backend/pyproject.toml
  backend/tests/api/routes/test_ingestions.py
  backend/tests/core/__init__.py
  backend/tests/core/test_config.py
  backend/tests/services/__init__.py
  backend/tests/services/test_ocr.py
  backend/tests/services/test_storage.py
  backend/tests/tasks/__init__.py
  backend/tests/tasks/test_extraction.py
  backend/uv.lock
Due: erd-generation

chore(config): configure Mistral API key and enable OCR task registration
  backend/app/tasks/__init__.py
  docker-compose.yml
Due: erd-generation

feat(ocr): add semantic block extraction for question segmentation
  backend/app/services/ocr.py
  backend/tests/services/test_ocr.py
Due: erd-generation

chore(migrations): add comprehensive migration safety infrastructure
  .pre-commit-config.yaml
  backend/app/alembic/env.py
  backend/app/alembic/versions/1a31ce608336_add_cascade_delete_relationships.py
  backend/app/alembic/versions/20038a3ab258_initial_schema.py
  backend/app/alembic/versions/2ccac127c59f_add_ocr_fields_to_ingestions.py
  backend/app/alembic/versions/9c0a54914c78_add_max_length_for_string_varchar_.py
  backend/app/alembic/versions/d98dd8ec85a3_edit_replace_id_integers_in_all_models_.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/models.py
  backend/scripts/check_migration_safety.py
  docs/runbooks/incidents.md
Due: erd-generation

✨ Autogenerate frontend client
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: local-biome-check

docs(models): update data models documentation with OCR fields
  docs/data/models.md
Due: none

docs(architecture): update architecture and API docs with OCR implementation
  docs/api/overview.md
  docs/architecture/overview.md
Due: none

ci(workflows): fix Redis hostname and baseline migration
  .github/workflows/test-backend.yml
  backend/app/alembic/versions/20038a3ab258_initial_schema.py
  backend/scripts/check_migration_safety.py
Due: erd-generation

ci(test-backend): use Redis service container instead of docker compose
  .github/workflows/test-backend.yml
  docs/testing/strategy.md
Due: none

fix(test-backend): set REDIS_PASSWORD for Settings validation
  .github/workflows/test-backend.yml
Due: none

feat(ocr): implement error handling and retry logic with rate limiting
  backend/app/services/ocr.py
  backend/app/tasks/extraction.py
  backend/tests/services/test_ocr.py
  backend/tests/tasks/test_extraction_retry.py
Due: erd-generation

Change EMAILS_FROM_NAME type to str
  backend/app/core/config.py
Due: erd-generation

Update : readme file was updated with the goal of this fork and setup pnpm and uv for development
  README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: local-biome-check

Add Razorpay payment integration - complete implementation
  .DS_Store
  backend/app/alembic/versions/7c4cf1d2308a_add_payment_models.py
  backend/app/api/routes/payments.py
  backend/app/services/__init__.py
  backend/app/services/razorpay_service.py
  frontend/src/components/Payments/Checkout.tsx
  frontend/src/components/Payments/PaymentAnalytics.tsx
  frontend/src/components/Payments/PaymentFailure.tsx
  frontend/src/components/Payments/PaymentSuccess.tsx
  frontend/src/routes/_layout/checkout.tsx
  frontend/src/routes/payment-failure.tsx
  frontend/src/routes/payment-success.tsx
  img/checkout.png
  img/razorpay.png
Due: local-biome-check, erd-generation

Add Razorpay payment integration - PR ready with minimal changes
  README.md
Due: none

Sync payment integration code from payment-integration branch
  .env.example
  .gitignore
  backend/app/api/main.py
  backend/app/api/routes/__init__.py
  backend/app/core/config.py
  backend/app/crud.py
  backend/app/models.py
  backend/pyproject.toml
Due: erd-generation
